[2021-09-03 12:53] DanWBR commented on #187
@kookma updated the editor to include Diameter as an editable property.

<img width="380" alt="Captura de Tela 2021-09-03 às 09 51 03" src="https://user-images.githubusercontent.com/2669419/132008165-a0a2fae7-78c9-4477-ad58-5d04d6dd3c1d.png">
<img width="378" alt="Captura de Tela 2021-09-03 às 09 51 07" src="https://user-images.githubusercontent.com/2669419/132008170-02c72156-5c48-4bdf-915f-e5af

[2021-09-03 13:06] #188 closed, assigned to nobody

[2021-09-03 13:07] DanWBR commented on #188
The 'b"' comes from Python.NET. Getting the console output from python to DWSIM doesn't happen without damage...😄

[2021-09-03 13:08] #186 closed, assigned to nobody

[2021-09-03 13:08] #185 closed, assigned to nobody

[2021-09-03 13:09] #187 closed, assigned to nobody

[2021-09-03 13:09] DanWBR commented on #184
@kookma I've added a default volume value of 1.0 m3 so we don't see this error anymore by accident.

[2021-09-03 13:09] #184 closed, assigned to nobody

[2021-09-03 13:10] DanWBR commented on #182
fixed the individual solving method in https://github.com/DanWBR/dwsim6/commit/948ab4c50e89498b2c229102e2dffb1592fe4729

[2021-09-03 13:10] #182 closed, assigned to nobody

[2021-09-03 13:11] #171 closed, assigned to nobody

[2021-09-03 14:07] kookma commented on #187
I love the catalyst info in separate tab!

[2021-09-03 14:10] DanWBR commented on #187
@kookma this will make my life easier when implementing the new features (tubes, adv. heat exchange)

[2021-09-03 14:16] kookma commented on #187
I understand, developing new features is exciting and challenging! but writing documentation and debugging is tedious (I hate both of them ;-) )

[2021-09-04 10:23] SamuWu99 commented on #181
@DanWBR I attached the file of my request. But it's on DWSIM 6.5.5 unfortunately.
[CO-Gas Verbrennung.zip](https://github.com/DanWBR/dwsim6/files/7109593/CO-Gas.Verbrennung.zip)

[2021-09-04 19:33] piskernik opened #189 "[Bug] Pressure loss on Mac version (6.6.1) not calculated correct (compared to Windows 6.6.0)."
I followed the tutorial creating a simulation on Youtube Basic Course Task 3 and could not get similar results on a Mac (6.6.1). I tried the same file on Windows 10 (6.6.0) and the results were comparable to the video (however also not identical).

Something is wrong in the pressure loss calculation of vertical pipes (see screenshots).

**Screenshots**
Windows:
![image](https://user-images.githubu

[2021-09-06 11:01] kookma opened #190 "[Bug] Conversion for Gas Phase Reaction"
* Win 10
* DWSIM 6.6.1

In a sample calculation of gas phase reaction with increasing the inlet flowrate to reactor I get higher conversion which is not correct! I note increasing the pressure drop cause higher conversion!

Does DWSIM calculate conversion based on F (mol/time) or C (mol/vol)? If the second is used then this issue will occur!

[2021-09-06 12:14] kookma commented on #190
I have a look PFR code:

https://github.com/DanWBR/dwsim6/blob/1c3b07b7159a298bc1fbe513e01e6e7620aee9b7/DWSIM.UnitOperations/Reactors/PFR.vb#L631-L639

Are `n0`, `nf`: refer to molar flow rate in feed and final molar flowrate?
Is this the place conversion in s PFR is calulated?

[2021-09-06 12:34] kookma commented on #190
Will be updated with an example!

[2021-09-06 14:18] #190 closed, assigned to nobody

[2021-09-06 21:17] CPN3264 opened #191 "Pressure drop for pipe give 0 as per each pipe"
Calculating pressure drop for pipe segment give me a 0 result in the new 6.6.1 version

[2021-09-06 23:30] DanWBR commented on #191
I'm aware of this issue and am working on a fix for the day after tomorrow.

[2021-09-07 09:44] kookma opened #192 "[Bug] PFR Object Editor Dimensions - Reactor Diameter Does Not Work"
* Win 10
* DWSIM 6.6.1

The new PFR object editor and new Dimensions tab is great! There is a minor bug however

## Reactor Length
- if you choose Sizing information= Reactor Length, you can enter reactor length, the entered number is in blue color and on pressing Enter key, Solve Flowsheet is triggered and DWSIM solves the reactor.
- The Reactor diameter input is inactive and will be updated once

[2021-09-07 18:16] DanWBR commented on #191
Fixed in https://github.com/DanWBR/dwsim6/commit/66148417ad695b82065b53718709db313f8d40f3

[2021-09-07 18:16] #191 closed, assigned to nobody

[2021-09-07 18:16] DanWBR commented on #189
Fixed in https://github.com/DanWBR/dwsim6/commit/66148417ad695b82065b53718709db313f8d40f3

[2021-09-07 18:16] #189 closed, assigned to nobody

[2021-09-07 18:17] DanWBR commented on #192
Fixed in https://github.com/DanWBR/dwsim6/commit/66148417ad695b82065b53718709db313f8d40f3

[2021-09-07 18:17] #192 closed, assigned to nobody

[2021-09-07 18:18] DanWBR commented on #183
@kookma v6.6.2 should make things better, please let me know what you think about it.

[2021-09-07 18:19] piskernik commented on #189
Many thanks! What an excellent work you are doing here!

[2021-09-07 19:03] piskernik opened #194 "[Bug] 6.6.2 DWSIM crashes when using 0 hours or 0 minutes in Integrators ->Parameters Duration"
Mac OS X DWSIM 6.6.2 crashes when using 0 hours or 0 minutes in Integrators ->Parameters Duration:

<img width="404" alt="Bildschirmfoto 2021-09-07 um 20 24 38" src="https://user-images.githubusercontent.com/23580499/132395312-7e3965a3-b95d-489a-998e-96bedb69fe76.png">

Typing "0" in the field for hour or minute immediately crashes DWSIM (on a Mac).

[2021-09-09 07:04] JarlPed opened #195 "[Enhancement] COIN-OR and NOMAD solvers"
Each solver provided in DWSIM is 'in-house' developed. I believe that by including an interface to other external solvers supplements the collection and that the DWSIM project overall take advantage of other open source projects.

I would like to see the external solvers being implemented as possible method, similar as that to the excel plugin OpenSolver.

[2021-09-09 08:15] kookma commented on #195
@JarlPed - do you mean ode solver and ALE solver? (numerical solver)
or you mean a new solver for Gibb Reactor for instance?

Any way I support the idea!

[2021-09-09 11:56] DanWBR commented on #195
@JarlPed the interface for external solvers is already there and ready to be used: https://github.com/DanWBR/dwsim6/blob/windows/DWSIM.Interfaces/IExternalSolver.vb

[2021-09-09 12:00] DanWBR commented on #195
Some Unit Operations already support loading and using an external solver: Distillation Column (Non-Lin System), PFR (ODE), Gibbs Reactor (Non-Lin Min) and Equilbrium Reactor (Non-Lin System)

[2021-09-10 19:05] kookma commented on #183
@DanWBR

![image](https://user-images.githubusercontent.com/830394/132904411-ee3b1c3b-0993-4947-9fb5-b650f670b74e.png)

See the alignment of script titles and background color! I think this happened after you changed the font size!

[2021-09-10 20:00] JarlPed commented on #195
@kookma Sorry for not expressing myself precisely, the solvers in mind are minimization solver algorithms.

@DanWBR Thanks for the tips, I think it is likely to put the source and binaries from the COIN-OR and Nomad project in \packages\, and craft some functions based on the interfaces that can be refered to the form layouts. I'm not entirely sure how the solver selection performed for the differ

[2021-09-10 22:41] DanWBR commented on #195
@JarlPed that's exactly the purpose of these interfaces. Speaking of which, I've tried to work with NOMAD many times before, but it seems that it needs you to "build" your problem in a separate file and then run it from a command line...

[2021-09-10 22:42] DanWBR commented on #183
@kookma what are the DPI and resolution of your display?

[2021-09-11 04:18] kookma commented on #183
@DanWBR - The image above is on a full HD monitor (1920x1080) on 15.6".
I have also tested on a HD monitor with 1600x900 on 21"

The second has a better alignment but the issue still is there! See below image
![image](https://user-images.githubusercontent.com/830394/132935956-2ee13447-e152-4d5e-8e68-03cf02e0afd6.png)

Is the issue related to not use center align the label?

[2021-09-11 10:33] DanWBR commented on #183
@kookma I need to know the DPI too

[2021-09-11 13:46] kookma commented on #183
Ah sorry the DPI is 141 for 1920x1080 on 15.6"
This is for the first image I sent you above!

[2021-09-12 06:34] kookma opened #197 "[Enhancement] Spreadsheet: Select Object Properties: Alphabetical Order or Most Important First"
* Windows 10
* DWSIM 6.6.2 Classic UI

DWSIM has a powerful Spreadsheet tool. When you want to insert an object property into a cell, on right click, a Select Object/Property windows is opened! The object on the left are not in any logical order and this makes finding an object a bit difficult!

See screenshots

![image](https://user-images.githubusercontent.com/830394/132974839-1e1e5573-bdc1-47ff

[2021-09-13 18:14] DanWBR commented on #183
After a few hours of trial and error...

<img width="730" alt="Captura de Tela 2021-09-13 às 15 03 09" src="https://user-images.githubusercontent.com/2669419/133135347-95bfaa1f-d624-4365-a706-5d5ab52a7622.png">

[2021-09-14 09:29] anauta00 opened #198 "Compressor mass balance (from flowsheet v6.4.7)"
Hi,

There appears to be an issue with the compressor object **which was created with an old(er) version of DWSIM, v6.4.7**.

When using the latest DSWIM version (v6.6.2, 13-10-2011) the mass balance does not close. The flow of the output stream is higher than that of the input.
No error is reported in the information window.
I include a demo project showing the issue.

When this project is loaded

[2021-09-14 09:32] anauta00 commented on #164
Hi,

You need to install the Visual Studio 2013 C++ runtime libraries.
Here is the link:
https://support.microsoft.com/en-us/topic/update-for-visual-c-2013-redistributable-package-d8ccd6a5-4e26-c290-517b-8da6cfdf4f10

Apparently, some library needs this older version of the libraries...

Greetings,
Auke Nauta

[2021-09-14 17:06] anauta00 commented on #198
Hi Daniel,

Thanks for fixing this so quickly!

Greetings, Auke

[2021-09-14 17:12] anauta00 opened #199 "Minor issue with splitter object"
Hi,

There appears to be a minor issue with the splitter object, in the case of a 'recycle' setup.

The requested molar flows are not exactly caried over to the values in the splitter specification.
Earlier, this was the case (prior to the "fixed splitter balance check; fixed reaction extents in eq reactor" commit).

It is not a real problem, but it does mean that consecutive solver runs give some

[2021-09-14 17:28] anauta00 commented on #199
Oh, this seems to relate to the recycle error.
When we set the error really low, the flows approximate the specification.

I just do not understand why a 'non recycled' flow ('Fuel') should have an error in the molar flow...
Here is a screenshot:
![dwsim_screen8](https://user-images.githubusercontent.com/42865376/133559707-7182815d-9157-4345-a244-f5960dd0e39e.jpg)

The 'Fuel' stream has a specific

[2021-09-15 12:41] Jackxi1024 opened #200 "About polymerization process simulation on DWSIM"
Hello, I'm doing research on polymerization process simulation recently. I found that DWSIM is a great project. I want to complete my research based on DWSIM.
Therefore, I want to define polymers (such as polyethylene) and corresponding properties (such as number average molecular weight), which is not available on DWSIM. I need the PC-SAFT equation of state as the thermodynamic model, which is av

[2021-09-15 15:19] DanWBR commented on #200
@Jackxi1024 please use the discussion section as this is not a bug nor a feature request.

[2021-09-15 15:19] #200 closed, assigned to nobody

[2021-09-15 15:20] #198 closed, assigned to nobody

[2021-09-15 15:20] #183 closed, assigned to nobody

[2021-09-19 20:01] andr1976 commented on #195
Apparently shared libraries are provided it seems, though I assume it is unmanaged code
https://nomad-4-user-guide.readthedocs.io/en/latest/LibraryMode.html#

[2021-09-19 20:18] andr1976 commented on #195
I could extend this request to include some global derivative free solvers, it seems the Nelder-Mead, Brent, BFGS, IPOPT etc are all local solvers like e.g. LibOptimization (although not active since 2020).

[2021-09-20 02:25] Mu1986 opened #203 "[Enhancement] Add Exergy of Stream (Flow+Chemical)"
ProSim Software (A chemical process simulator) has exergy calculations in it (Total Exergy  = Flow Exergy+ Chemical Exergy).

Can you add exergy of the stream as well ? it should not be very difficult as you are already calculating enthalpy and entropy of stream.

You can add thermodynamic exergy and chemical exergy.

Thermodynamic exergy can be calculated as

Ex_FLow=h-h0-T0(S-S0)

Where T0, P0 a

[2021-09-20 02:30] Mu1986 opened #204 "[Enhancement] PR Tau Alpha EOS"
Can you add PR Tau Alpha EOS ? Hysys has that but DWSIM does not has that

Details here :            https://trc.nist.gov/TDE/TDE_Help/DETAILS-TDE-Twu-Peng-Robinson-EOS.htm

 and Also here :        https://trc.nist.gov/TDE/TDE_Help/eos-Twu-Peng-Robinson.htm

I have reference article if you need to implement

[2021-09-20 07:21] anauta00 commented on #199
Hi,

Just another screenshot showing the 'v6.4.7 vs 6.6.3 DWSIM' behaviour of the splitter:

![dwsim_screen9](https://user-images.githubusercontent.com/42865376/133968036-84e662b5-18b8-4256-8337-c16b1de1958f.jpg)

Greetings,
Auke

[2021-09-20 15:46] #204 closed, assigned to nobody

[2021-09-20 15:46] #203 closed, assigned to nobody

[2021-09-20 15:49] DanWBR commented on #194
I couldn't reproduce this issue here on my computer. Can you upload the lasterror.txt file from your Documents/DWSIM Application Data folder?

[2021-09-20 18:51] anauta00 commented on #199
Thanks for fixing Daniel!

[2021-09-21 13:49] piskernik commented on #194
Occured also in 6.6.3:
Output from last app crash:

System.ArgumentOutOfRangeException: Ticks must be between DateTime.MinValue.Ticks and DateTime.MaxValue.Ticks.
Parameter name: ticks
  at (wrapper managed-to-native) AppKit.NSApplication.NSApplicationMain(int,string[])
  at AppKit.NSApplication.Main (System.String[] args) [0x00040] in /Library/Frameworks/Xamarin.Mac.framework/Versions/5.14.0.110/

[2021-09-21 15:39] DanWBR commented on #194
@piskernik what are your regional settings (language, number format, etc)? I still can't reproduce this issue here, I'm typing everything and it is not crashing.

[2021-09-21 20:12] piskernik commented on #194
The Mac is German, but the number format in DWSIM is with period 0.00 (in the correct culture we would write it 0,00). But it immediately crashes already when typing a 0 (in any of the fields for second, minute or hour). (It crashes independent on the simulation, just tried it with another one). It is independent from the integrator, it's the time field in dynamics part. I can't even change the nu

[2021-09-25 16:04] piskernik commented on #194
Just changed the language settings to US and all number formats are changed as well (and restarted the Mac of course), however DWSIM still crashes:-(

[2021-09-26 11:25] piskernik commented on #194
What I do not understand is, that the values within the programm
integ.Duration 00:10:00
IntegratorPropertiesStartValue 1/1/0001 12:10:00 AM
are not consistent with the displayed value, which is:
<img width="402" alt="Properties_Screenshot" src="https://user-images.githubusercontent.com/23580499/134805605-3f49e108-23a2-4234-afef-1fe2ae533df1.png">

[2021-09-26 20:58] piskernik commented on #194
O.k. I found out, that this happens on any Eto Forms DateTimePicker, initialized with 00:10:00 on my Mac. It also crashes.

[2021-09-27 12:36] anauta00 opened #206 "Windows Classic UI (since 24-09-2021)"
Hi,

Since the 24-09-21 UI updates, the Windows application no longer shows the panels and other stuff in the right size.
Here is an example

![dwsim_screen10](https://user-images.githubusercontent.com/42865376/134909077-b330d662-c682-49b7-95f4-cf035b2a2fd5.jpg)

Could you please have a look at this?

Thanks and greetings,
Auke Nauta

[2021-09-27 13:27] DanWBR commented on #206
@anauta00 can you tell me your screen resolution and DPI?

[2021-09-27 13:33] anauta00 commented on #206
Hi Daniel,
I am using a UHD display, the LG 31.5 inch 32UN88A model.
The screen is set to its native 3840x2160 pixels.
The resolution is 140 dpi.
Greetings,
Auke

[2021-09-27 14:35] kookma commented on #206
Just to share my experiences with DWSIM 6.6.3
Windows 10, DPI is 141 for 1920x1080 on 15.6"

![img_535_DWSIM](https://user-images.githubusercontent.com/830394/134929295-03dc3a1d-bbf0-4c32-b959-84f5cca8a360.png)

Note that to have corrected DPI setting if you use DWSIM on windows. I use the default setting with no adjustments!

![image](https://user-images.githubusercontent.com/830394/134929562-e7b

[2021-09-27 15:10] DanWBR commented on #206
@anauta00 @kookma when working on v6.6.3 I've accidentally opened some windows when my display was with a High DPI setting, and then Visual Studio always breaks the window layout when the user does that... I've figured it out a few days ago, and already restored the intended layout... this is a known VS bug and has been like this for ages...

[2021-09-27 15:57] anauta00 commented on #206
Good to hear!
With your latest commit, I still have these issues though...

[2021-09-27 16:06] DanWBR commented on #206
@anauta00 working on it, please be patient...🥲

[2021-09-27 20:39] andr1976 opened #207 "Mix liquid and liquid1 properties different even for single liquid [Bug]"
**Describe the bug**
When preparing a VL mixture of gas and liquid (single liquid phase) the properties for thermal conductivity and kinematic viscosity is different for the mixed liquid phase and liquid1

**To Reproduce**
See attached DWSIM file (remove zip from file ending)
[VL_test.dwxmz.zip](https://github.com/DanWBR/dwsim6/files/7239216/VL_test.dwxmz.zip)

**Expected behavior**
When a single

[2021-09-28 14:11] DanWBR commented on #207
@andr1976 thanks! are you still running DWSIM v6.4.1?

[2021-09-28 14:13] andr1976 commented on #207
ha ha, noo that was the line where I did not change the example text. I am running 6.5.4 though (and latest from source via Visual Studio). I have been away from DWSIM a while and have not upgraded my "production" installation yet.

[2021-09-28 14:16] andr1976 commented on #207
@DanWBR , could this be an issue for other properties like entropy, enthalpy etc.?

[2021-09-28 14:27] #207 closed, assigned to nobody

[2021-09-29 08:02] anauta00 commented on #206
Hi Daniel,
It is looking good now, thanks!
Greetings, Auke

[2021-10-04 09:12] andr1976 opened #208 "Error in some mixture properties [Bug]"
For many mixture properties like Cp, Cv (possible also, isothermal compressibility) , it seems the result shown for the mix/combined phases are a molar average like e.g. for enthalpy:

Hmix = x * Hliq + y * Hgas

But for Cp this is not the same as

Cp_mix = x * Cp_x  + y * Cp_y

Since Cp is defined as

Cp = dH/dT

we get

Cp = dHmix/dT = d(x * Hliq + y * Hgas) = dx/dT*Hliq + x*dHliq/dT + dy/dT*Hga

[2021-10-04 11:28] DanWBR commented on #208
@andr1976 where do we have Cp for a Liq+Gas mixture in DWSIM?

[2021-10-04 11:32] andr1976 commented on #208
On the stream - I am not sure what you need it for though :-) other than actually doing this right in contrast to some MAJOR commercial process simulation packages.
![image](https://user-images.githubusercontent.com/58475535/135844171-9881c24f-4d96-469b-be1b-250860d14b3e.png)

[2021-10-04 11:45] DanWBR commented on #208
@andr1976 heat capacity ratio for a mixture doesn't make sense...!!! I'll need to review this

[2021-10-04 12:04] andr1976 commented on #208
again I am not sure when/if you need this, but you can define it in a meaningfull way also Cv = dU/dT = d(x*Uliq + y * Ugas) / dT by differentation

[2021-10-05 18:28] Fralopez opened #209 "[Bug] outlet temperature from splitter"
A superheated steam stream is divided by means of a splitter into different outlet streams, but the outlet streams' temperature is the saturation temperature, instead of the inlet temperature.
![aaa](https://user-images.githubusercontent.com/45826260/136081477-a533ce6a-9be1-4efb-a62b-314990e6ed34.png)

[2021-10-06 13:04] DanWBR commented on #209
@Fralopez could you please attach the simulation file?

[2021-10-06 13:59] Fralopez commented on #209
how can I attach the simulation file? it says "we don't support that file type"

[2021-10-06 21:28] Fralopez commented on #209
in the meantime I have found that maybe the problem could lie somewhere in the property package. It seems that with Steam Tables V2 I got the wrong temperature, while with Steam Tables it's ok.

[2021-10-08 12:03] DanWBR commented on #209
@Fralopez I'll remove Steam Tables v2 from the next version as it has some serious flaws.

[2021-10-08 17:54] Fralopez commented on #209
ok thanks Daniel.

[2021-10-08 17:54] #209 closed, assigned to nobody

[2021-10-09 20:00] chinmoybasak opened #210 "[Enhancement] PFR Outlet temperature calculator hence (reactor temperature profile)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
PFR modules only provide Adiabatic, Isothermal, and User-provided outlet temperature calculation. But this is a basic need of any PFR design for provided kinetics data to calculate reactor temperature profile (not adiabatic or exothermal ca

[2021-10-10 08:20] kookma commented on #210
@chinmoybasak - would you please correct the body of your issue!
It is an instruction how to write the issue and should not be kept!
Also clearly describe what you want and give your possible solution!

[2021-10-11 17:13] JarlPed opened #211 "[Enhancement] Murphree efficiency for absorber and distillation columns"
When calculating absorber and distillation columns, it's assumed that the complete vapor-liquid equilibrium is achieved at each tray section, or that the user have knowledge about the efficiency of the respective sections.
Assuming, that one only has engineering data for the columns, i.e. the geometric configuration of weir, downcomers, etc. I imagine, that it may be utilized for a best estimate f

[2021-10-11 19:55] Fralopez opened #212 "[Bug] negative density for liquid fraction of a mixed phase stream"
I have found that a mixed phase stream has negative density (and volumetric flow rate) for the liquid fraction.
The property package is Peng Robinson.
The same stream definition with the same property package is 100% vapour in Hysys, instead of 87%.

Conditions are:
T = 171 °C
P = 74.4 bar
mass flow = 530.7 kg/h

the stream contains H2, CO, CO2, H2O and CH4 (with zero N2 and O2, that are among the

[2021-10-12 01:06] DanWBR commented on #212
Please follow the instructions from the bug reporting template. Your description doesn't allow me to reproduce this issue, so it will be ignored until you provide more information about it.

[2021-10-12 19:26] Fralopez commented on #212
It is a simple flowsheet with a single stream. It was meant to find the stream properties. As I mentioned, I got negative liquid density. I then checked the same composition and conditions in Hysys and I got a vapor fraction = 1. So, apart from the negative density, maybe the liquid should not be there at all.

OS = Windows
Version = 6.6.3

Selected compounds = H2, CO, CO2, H2O, CH4, N2, O2
Proper

[2021-10-16 12:09] DanWBR commented on #212
You can check this option in the property package settings:
<img width="770" alt="Captura de Tela 2021-10-16 às 09 08 34" src="https://user-images.githubusercontent.com/2669419/137586718-01a18dd7-fc66-4197-90dd-bbc90d7ddb2a.png">

[2021-10-16 12:10] #206 closed, assigned to nobody

[2021-10-16 12:10] #199 closed, assigned to nobody

[2021-10-16 12:10] #194 closed, assigned to nobody

[2021-10-16 12:11] #164 closed, assigned to nobody

[2021-10-16 12:11] #212 closed, assigned to nobody

[2021-10-16 14:33] pkrulz commented on #164
This seems to work. Closed quietly after I installed that run time. Thank you !

[2021-10-16 14:36] DanWBR commented on #164
@pkrulz CefSharp was removed in v6.7.0, DWSIM now uses Edge WebView2 and/or the standard Windows Forms WebControl.

[2021-10-17 06:56] pdenis13 opened #213 "[Bug]"
[DWSIM - MAC] - Binary Enveloppe failed

**Describe the bug**

Unable to calculate or Draw the binary enveloppe of a mixture. The Phase enveloppe seems to works Welle

**To Reproduce**
Steps to reproduce the behavior:
1. Ethanol / Water mixture / set package properties as you want (see attach file)
2. selecte Utilities / binary Envelope
3. setup as you want
4. Clic on build enveloppe
5. No dating

[2021-10-18 13:06] DanWBR commented on #213
Thank you @pdenis13, fixed this issue and the NaN entropy error in your sample simulation too. v6.7.1 will be working as expected.

[2021-10-18 13:39] pdenis13 commented on #213
You’re the best !
thanks a lot

Cordialement,

Pascal Denis
Responsable Scolarité Ingénieur
Enseignant Génie des Procédés
Bureau : 119 - Jetée
Tél. : 04 91 05 45 82 <tel:0491054582>
Tél. : 06 24 01 20 86 <tel:0624012086>
Centrale Marseille
Pôle de l'Étoile
Technopôle de Château-Gombert
38, rue Frédéric Joliot-Curie
13451 MARSEILLE cedex 13
https://centrale-marseille.fr <applewebdata://F004A1C1-350

[2021-10-18 14:38] DanWBR commented on #213
<img width="1037" alt="Captura de Tela 2021-10-18 às 11 38 15" src="https://user-images.githubusercontent.com/2669419/137752778-aa711a36-7d42-4bae-8f83-be3b3f2d5679.png">

[2021-10-25 07:43] rcdpereira commented on #208
When sizing PSVs, Cp/Cv is used. And if you if you have a mixture (e.g. Natural Gas), this would make sense. Please let me know if this is wrong.

[2021-10-25 11:39] DanWBR commented on #208
@rcdpereira Cp/Cv is normally used in gas phase correlations, it doesn't make sense as an average phase property (liq+gas).

[2021-10-25 11:54] andr1976 commented on #208
I could maybe think of heat exchange calcs as a place where Cp for liquid/gas mixture could be relevant, other than that I am not sure.

[2021-10-25 11:55] DanWBR commented on #208
@andr1976 Cp or Cv alone is ok, but a mixture Cp/Cv is weird

[2021-10-25 11:59] andr1976 commented on #208
@DanWBR agree. Cp/Cv is for gas flow applications mainly. Btw it could be cool if DWSIM would report the ideal gas Cp/Cv ratio as a stream property - this a better approximation of the isentropic exponent than real gas Cp/Cv. This is the most used property when considering control valves, PSVs, orifice flow etc.

[2021-10-25 12:01] DanWBR commented on #208
@andr1976 I'll work on it

[2021-10-25 12:49] DanWBR commented on #208
<img width="430" alt="Captura de Tela 2021-10-25 às 09 48 24" src="https://user-images.githubusercontent.com/2669419/138698009-520402e3-7add-4b58-8bc4-84e15133c33a.png">

[2021-10-25 19:52] andr1976 commented on #208
@DanWBR, yes sir! Looks great

[2021-10-27 05:03] pdenis13 opened #214 "[Bug] - Mac OS - Objects Alignement button get crash"
Hello Daniel

**Describe the bug**

The use of the 5 buttons Align buttons, right, left, center, middle or the equalize vertically / Horizontally will instantly get a crash of DWSIM

**To Reproduce**
1. clic on multiselect
2. with the mouse select at least 2 objects (material stream for example)
3. clic on Align buttons (or any other listed buttons) you get a crash of DWSIM

you can get the crash

[2021-10-27 07:07] pdenis13 opened #215 "[Bug] - MacOS - Monterey - Crash"
**Describe the bug**

launch of DWSIM is OK, but when try to "open Existing" or "create new", DWSIM crash with the following information

-------------------------------------
Translated Report (Full Report Below)
-------------------------------------

Process:               Launcher.exec [24861]
Path:                  /Applications/DWSIM.app/Contents/MacOS/Launcher.exec
Identifier:            com

[2021-10-27 10:26] DanWBR commented on #215
You seem to have 'Hardware' selected as PFD Renderer in Global Settings.

[2021-10-27 10:29] DanWBR commented on #215
@pdenis13 can you attach the 'errors.log' file from your Documents/DWSIM Application Data folder? thanks

[2021-10-27 13:39] DanWBR commented on #214
Fixed in https://github.com/DanWBR/dwsim6/commit/49a97f1c34b768394ad82003b365753e7d58aba5

[2021-10-27 15:45] einhander opened #216 "[Bug] Carbon combustion sample can't be calculated"
**Describe the bug**
Carbon combustion sample can't be calculated. The error message is:

I've managed to calculate this flow-sheet in 6.5.0 version

**To Reproduce**
Steps to reproduce the behavior:
 1. Load Carbon combustion sample
 2. Click solve flowsheet

**Expected behavior**
Successful calculation of flowsheet

**Desktop (please complete the following information):**
 - OS: Linux Debian 64-

[2021-10-28 08:30] pdenis13 commented on #215
Hello Daniel,

NO it's an iMac running intel i9.

You will find the error.log and last error.txt  below

[errors.log](https://github.com/DanWBR/dwsim6/files/7432484/errors.log)
[lasterror.txt](https://github.com/DanWBR/dwsim6/files/7432485/lasterror.txt)

[2021-10-28 10:43] #208 closed, assigned to nobody

[2021-10-28 11:48] DanWBR commented on #215
`System.EntryPointNotFoundException: CGImageSourceCopyPropertiesAtIndex
  at (wrapper managed-to-native) System.Drawing.CGImageSourceExtensions.CGImageSourceCopyPropertiesAtIndex(intptr,System.nint,intptr)
  at System.Drawing.CGImageSourceExtensions.GetPropertiesSafe (ImageIO.CGImageSource imageSource, System.Int32 imageIndex) [0x0000c] in <72557f6049b84a4da6e034698e333b25>:0
  at System.Drawing.B

[2021-10-30 10:08] jmacias552 opened #217 "Problem Importing OPCUA database file in DWSIM-Classic in a UBUNTU Linux machine"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
Importing a file with OPCUA tags saved previously does not show up in the OPC Plugin interface. However, it seems that the definitions are already there because if we save the database the file that's written is exactly the same.

[2021-10-30 11:14] DanWBR commented on #217
@jmacias552 I didn't even know that it worked on Linux. It is definitely an unsupported scenario...

[2021-10-30 11:14] #217 closed, assigned to nobody

[2021-10-30 18:23] jmacias552 commented on #217
Ok, Daniel. I understand. In any case, I will try to make it working and If so, I will be back to you.
Regards,
Jose

[2021-11-01 16:26] Jamesincolorado opened #219 "Saturator Failure"
[Saturator fail.zip](https://github.com/DanWBR/dwsim6/files/7454686/Saturator.fail.zip)

The plug-in saturator fails in the latest version.

Thanks,

James

[2021-11-02 16:12] Greg66 commented on #181
I issued an update of Conversion Reactor UO now.
This UO has an energy outlet now instead of an energy inlet. This energy stream may be connected to further UO's like a heater. Other reactors are intendet to be modified in the same way.
See commit: #218
![Reactor Energy Output](https://user-images.githubusercontent.com/4138115/139904882-a02a6dea-cf86-42a1-bf74-093f23a5f23e.jpg)

[2021-11-03 08:43] jmacias552 commented on #217
Hi, I think I know where the problem is:

When opening the OPCUA plugin, there is a message saying that the OPC certificate can not be found and since then, nothing else happened in trying to connect. Do you know how manually can I register the OPC certificate?.
Just to show you I attached the screen copy of the messages. Thanks Daniel!!!

![Captura](https://user-images.githubusercontent.com/28150

[2021-11-03 17:27] #216 closed, assigned to nobody

[2021-11-03 17:27] #214 closed, assigned to nobody

[2021-11-03 17:27] #213 closed, assigned to nobody

[2021-11-03 17:28] DanWBR commented on #215
Updated the dmg container with a version that works on macOS Monterey: https://sourceforge.net/projects/dwsim/files/DWSIM/DWSIM%206.7/6.7.1/DWSIM%206.7.1.1.dmg/download

[2021-11-03 17:28] #215 closed, assigned to nobody

[2021-11-03 19:26] pdenis13 commented on #215
Seems to be Good Daniel !

[2021-11-05 08:39] RobertoSilva11 opened #220 "[error] Error saving file"
![image](https://user-images.githubusercontent.com/93762979/140481910-459ee3bb-6c10-421c-8972-716244ff97f1.png)

Bom dia!
instalei o a versão 6.7 em 2 computadores que utilizam a plataforma do windows 10 e o problema persiste. Não consigo salvar o projeto.

Peço a gentileza de me orientar quanto a solução

Obrigado!

[2021-11-05 11:27] DanWBR commented on #220
@RobertoSilva11 dá uma olhada aqui: https://sourceforge.net/p/dwsim/discussion/844529/thread/ae41278ca0/

[2021-11-09 19:32] Fralopez opened #221 "[Bug] outlet temperature vs adiabatic efficiency in compressor UnitOp"
I was simulating a compressor for a methanol synthesis application and I have noticed that the outlet temperature has a strange behaviour when changing the adiabatic efficiency. I have also set a sensitivity study (image attached).

The expected behaviour was outlet temperature decreasing when adiabatic efficiency is increasing.

Steps to reproduce the behavior:
1. Change adiabatic efficiency in t

[2021-11-10 11:55] DanWBR commented on #221
@Fralopez go to the property package settings and disable Fast Mode for PH/PS Flash:

<img width="783" alt="Captura de Tela 2021-11-10 às 08 54 33" src="https://user-images.githubusercontent.com/2669419/141108632-0b03d094-69a4-4284-a4a6-9787061ce08c.png">
<img width="1039" alt="Captura de Tela 2021-11-10 às 08 54 48" src="https://user-images.githubusercontent.com/2669419/141108646-6168a936-4ae4-

[2021-11-10 11:56] #221 closed, assigned to nobody

[2021-11-10 11:56] #220 closed, assigned to nobody

[2021-11-10 11:58] DanWBR commented on #219
@Jamesincolorado what plugin? Do you mean the natural gas saturator sample?

[2021-11-10 16:54] Jamesincolorado commented on #219
Yes, the solver fails at the saturator.

Thanks.

[2021-11-10 16:54] #219 closed, assigned to nobody

[2021-11-10 17:23] Fralopez commented on #221
Ok thanks. Are there any general rules to set these options?

[2021-11-10 17:54] DanWBR commented on #221
the behavior you've experienced is not common, maybe it is due to hydrogen. It should have thrown an error.

[2021-11-17 14:46] einhander opened #222 "[Bug] Crossplatform UI crash on object edit"
**Describe the bug**
I moved to next version of debian  system and  got very strange behavior of all versions of dwsim crossplatform UI.
If I'll try to edit any object of flowsheet diagram, dwsim crash with no stack trace.

The terminal output is:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open flowsheet
2. Click on any object

**Expected behavior**
Open parameters in left panel

[2021-11-17 15:49] DanWBR commented on #222
check if you have an error file in your Documents/DWSIM Application Data folder.

[2021-11-17 16:05] einhander commented on #222
Nope there no log or error file:
[code]
[code]

[2021-11-17 16:07] DanWBR commented on #222
try running it with

`MONO_LOG_LEVEL=debug dwsim`

[2021-11-17 16:12] einhander commented on #222
[dwsim.log](https://github.com/DanWBR/dwsim6/files/7556184/dwsim.log)

[2021-11-20 19:59] andr1976 opened #223 "Automation error [Bug]"
Getting the following error when trying to run the Gist automation example
![image](https://user-images.githubusercontent.com/58475535/142739321-191f93d6-ef22-4120-9d4b-52d3e4af52a2.png)

The follwing code is run
[code]

Running DWSIM 6.5.4

[2021-11-21 13:18] DanWBR commented on #223
@andr1976 what do you have in your DWSIM6\ppacks folder?

[2021-11-21 13:50] andr1976 commented on #223
![image](https://user-images.githubusercontent.com/58475535/142764500-a83f4c11-bc15-4489-80d7-6983a1a382d3.png)

[2021-11-21 14:34] DanWBR commented on #223
For some reason, one of the property packages in the above folder is trying to load a DLL contained in a network-style path like \\server\folder\library.dll. Do you have something like this? I have no idea which one would it be. It doesn't make sense.

[2021-11-21 14:36] andr1976 commented on #223
søn. 21. nov. 2021 kl. 15.34 skrev Daniel Wagner ***@***.***>:

I will investigate more tonight

[2021-11-21 20:09] andr1976 commented on #223
Does not appear to happen in v. 6.7.1 even with the entire content of ppacks copied to the ppacks of the new install.

[2021-11-21 21:20] andr1976 opened #225 "Negative Density /flow [Bug]"
Changing from 6.5.4 to 6.7.1 (on WIndows 10) the following wrong result is observed after a pump (export)

![image](https://user-images.githubusercontent.com/58475535/142779211-a182b0ad-cbe9-4681-93e5-bdec2d5d058f.png)

Expected result is positive density and vol flow. Lowering pump discharge pressure to e.g. 20 instead of 61 appears to help.

See attached similation saved in 6.5.4. It is material

[2021-11-21 21:22] DanWBR commented on #225
@andr1976 my Monday is already full, thanks for that 😂

[2021-11-21 21:27] andr1976 commented on #225
@DanWBR I am just warming up, better reserve tuesday as well :smiley:, Nah, don't worry it is bedtime soon here in Denmark

[2021-11-21 22:14] andr1976 commented on #223
Closing for now

[2021-11-21 22:14] #223 closed, assigned to nobody

[2021-11-22 11:59] DanWBR opened #226 "[Bug] Unstable PH/PS fast mode"
Two related issues reported since v6.7.1

[2021-11-22 14:58] DanWBR opened #228 "[Enhancement] Implement vertical inversion of flowsheet objects"
Add 'Invert Vertically' functionality for flowsheet objects.

[2021-11-22 14:59] DanWBR commented on #226
Fixed in https://github.com/DanWBR/dwsim6/commit/efd1774d4bc5f0e2194355065459b10967390310

[2021-11-22 14:59] #226 closed, assigned to nobody

[2021-11-22 17:02] Greg66 opened #229 "[Bug] Bug in Conversion reactor"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
Conversion reactor is calculating unreasonable results. Mole balance is not correct.

**To Reproduce**
See attached simulation.

**Expected behavior**
Hydrogen output is expected to be zero. Instead it is increasing.
Hydrogenation

[2021-11-22 18:11] Greg66 opened #230 "[Bug] Bug in Component Viewer"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
As soon as i want to inspect a pure component with Pure Component Viewer an error is issued. See

**To Reproduce**
Steps to reproduce the behavior:
1. Open Component viewer for any component
2. you can go on and inspect the compon

[2021-11-22 20:42] andr1976 opened #231 "COSTALD liquid density [Enhancement]"
Include option alongside Rackett to calculate liquid density with COSTALD method

[2021-11-22 20:43] andr1976 opened #232 "Rackett mixing rule [Enhancement]"
Implement a suitable mixing rule when calculating liquid density of multicomponent mixture

[2021-11-22 20:55] andr1976 opened #233 "Splitter [Bug]"
**Describe the bug**
For a splitter using ",mass flow spec" and setting one of of two outlet streams (to 3000 kg/h) the flowheet solves and converges, but the converged solution is not equal the the mass flow spec specified  (6128.1 )

Further the mass balance in/out of the splitter is off:

Inlet 121871 kg/h, MSTR-44
Outlet 115843 kg/h MSTR-46 and 6128.1 kg/h MSTR-56
121871 - 115843 = 6028 kg/h,

[2021-11-22 21:28] andr1976 opened #234 "Pump [Bug]"
**Describe the bug**
When pump gets zero flow in flowsheet the programs fails

**Expected behavior**
Pump duty should be 0 instead of NaN

**Screenshots**
![image](https://user-images.githubusercontent.com/58475535/142937698-73def0e3-bbd3-4236-84ea-9ae9b923dab7.png)

**Desktop (please complete the following information):**
 - OS: [e.g. Windows,
 - Version [e.g. v6.7.1]

[2021-11-22 21:41] andr1976 opened #235 "Adjuster [Bug]"
**Describe the bug**
When using IPOPT the specified limits on the manipulated value is violated

**Expected behavior**
Variable (manipulated value) limits to be respected

**Screenshots**
![image](https://user-images.githubusercontent.com/58475535/142939079-9b2cf6c7-922c-48d0-b38e-909839212769.png)

**Desktop (please complete the following information):**
 - OS: [e.g. Windows,
 - Version [e.g. v6.

[2021-11-22 21:44] #235 closed, assigned to nobody

[2021-11-22 21:51] andr1976 opened #236 "Adjuster error between target and manipulated value[Bug]"
**Describe the bug**
The error reported different places are orders of magnitude different
The adjuster does not stop at specified tolerance

**Screenshots**
![image](https://user-images.githubusercontent.com/58475535/142940342-c51a6dcf-ff05-420b-933f-06b5bd201be2.png)

**Desktop (please complete the following information):**
 - OS: [e.g. Windows,
 - Version [e.g. v6.4.1]

[2021-11-23 09:09] Greg66 commented on #230
Further investigation of the problem showed that for property "GasOilRatio" -> ".gor" no unit was definied in SystemOfUnits.vb except for "English" unit system.
see:  SystemOfUnits.vb Line 995

[2021-11-23 12:54] #225 closed, assigned to nobody

[2021-11-23 12:55] #230 closed, assigned to nobody

[2021-11-23 12:55] DanWBR commented on #236
@andr1976 can you share your file? you have my email

[2021-11-23 15:18] andr1976 commented on #236
@DanWBR  you got mail :-)

[2021-11-23 16:34] DanWBR commented on #233
@andr1976 if you have only two outlet streams, then you can specify one the first one, the other spec will be ignored (at least it should be). DWSIM will read both specs if you have three outlet streams. the third one is calculated by the mass balance.

[2021-11-23 17:01] andr1976 commented on #233
It just seems that the specs are not met

tir. 23. nov. 2021 kl. 17.34 skrev Daniel Wagner ***@***.***>:

[2021-11-23 17:20] DanWBR commented on #233
@andr1976 I've tested it here with the current code and the mass balance is ok... did you run it in 6.7.1?

[2021-11-23 17:22] andr1976 commented on #233
Yes, the fun thing is the spec is 3000 for the afjuster but more than 6000
in the actually stream

tir. 23. nov. 2021 kl. 18.20 skrev Daniel Wagner ***@***.***>:

[2021-11-23 17:24] DanWBR commented on #233
@andr1976 the second spec will be ignored in your case, you only have 2 outlet streams and you've already spec'ed the first one!

[2021-11-23 17:27] andr1976 commented on #233
Yes but I speced the stream with low flow at 3000 and the other was left
blank, but the low flow stream then ended at more than 6000, and mass
balance was a little off

tir. 23. nov. 2021 kl. 18.24 skrev Daniel Wagner ***@***.***>:

[2021-11-23 20:27] andr1976 commented on #234
@DanWBR , for the compressor and expander I think part of the fix is wrong, head is independent of flow and should not be zero if there is a pressure difference
[code]

[2021-11-23 20:29] andr1976 opened #237 "Pump head[Enhancement]"
It would be nice to have the head estimated and reported for pump unit op. This is often required for data sheet input

[2021-11-23 21:26] DanWBR commented on #234
@andr1976 so the pressure increases even with zero flow? I'm setting everything to zero so the energy balance doesn't break

[2021-11-23 22:07] andr1976 commented on #234
@DanWBR say pump is specified with outlet pressure or with a positive dP, even if flow is zero head is positive, but energy is still zero because energy is head times flow

[2021-11-23 22:20] DanWBR commented on #234
@andr1976 ok, thanks for the explanation!

[2021-11-23 22:29] andr1976 commented on #234
@DanWBR , ok I also see your point, that the calculations might break down at some point when power goes to zero, depending on which way you do the math -you also might have to force outlet temperature equal to inlet etc, so it might be just as good just  report an error some how

[2021-11-24 12:52] DanWBR commented on #231
@andr1976 do you have a reference to COSTALD? (don't remember if you sent me already)

[2021-11-24 12:54] DanWBR commented on #229
@Greg66 the inlet stream is mixed (V+L), is that on purpose?

[2021-11-24 13:06] einhander commented on #222
I changed system mono to mono-project.com version but without success. Dwsim v7.0.0 the same as other.
The same problem if i try to open Global settings menu.
 I attached strace file, I hope this helps.
If I can help you to deal with this bug, please say me that to do.
[trace.txt](https://github.com/DanWBR/dwsim/files/7595795/trace.txt)

[2021-11-24 13:20] DanWBR commented on #222
@einhander it seems that Debian 12 is still in testing phase.. maybe some packages are missing from the distro?

[2021-11-24 13:21] DanWBR commented on #222
https://www.debian.org/releases/testing/

[2021-11-24 13:23] DanWBR commented on #211
@JarlPed Murphree efficiencies are already implemented (default = 1.0). You can set their values in the stages editing panel.

[2021-11-24 13:23] #211 closed, assigned to nobody

[2021-11-24 13:24] DanWBR commented on #210
closing this as the text is not understandable and no further info was provided.

[2021-11-24 13:24] #210 closed, assigned to nobody

[2021-11-24 13:25] #197 closed, assigned to nobody

[2021-11-24 13:29] einhander commented on #222
But why there no error in terminal? If some packages are absent there should be errors like #147, debug and strace output should indicate that type of error.

[2021-11-24 14:31] DanWBR commented on #222
@einhander I don't know. There was nothing on the terminal and you didn't have an errors.log file in the app data folder, which makes this very strange indeed.

[2021-11-24 16:41] einhander commented on #222
@DanWBR I used gdb and found these segfaults:

[code]
Can it be related to https://github.com/picoe/Eto/issues/1914?

[2021-11-24 17:20] Greg66 commented on #229
@DanWBR
Yes
I have to mix educts as reactor has only a single Input.

[2021-11-25 05:20] AlexanderSemenyak opened #238 "Implement [UserDefined Table] of HeatTransferCoefficient for Thermal Profile for Pipe Segment[Enhancement]"
Please, implement [UserDefined Table] of HeatTransferCoefficient for Thermal Profile for Pipe Segment
(e.g., for permafrost underground interval, or for gas reservoir interval owerheated)

![UserDefinedTableForHeatTransferCoefficient](https://user-images.githubusercontent.com/42087193/143429932-de96d0f4-3506-4454-94b2-71a532d39c8b.png)

[2021-11-25 09:16] VictorNine opened #239 "DWSIM requiers old .Net framework"
**Describe the bug**
Building DWsim requires .NET Framework 4.5. This is no longer available for download from Microsoft. Updating to 4.8 causes errors in many of the packages.

**To Reproduce**
Build without 4.5

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

**Additional context**

[2021-11-25 10:21] DanWBR commented on #238
@AlexanderSemenyak in this case we would interpolate the values or use the value from the previous row until the next one?

[2021-11-25 10:54] AlexanderSemenyak commented on #238
Interpolate, but for last point (if [length pipesegment] > [max length on table]) - repeat last value on table

[2021-11-25 11:08] DanWBR commented on #239
Fixed in https://github.com/DanWBR/dwsim/commit/e2bf0b98a459e4b3b836c02331153ba427447db9

[2021-11-25 11:08] #239 closed, assigned to nobody

[2021-11-25 11:47] DanWBR commented on #229
@Greg66 can you please check if the issue was resolved?

[2021-11-25 12:21] andr1976 commented on #231
COSTALD aka Hankinson-Brobst-Thomson i guess is in chapt 3-11/4.9 in "The properties of gases and liquids" 4th ed.  The problem seems to be the characteristic volume which needs estimation based on component type . One could use coefficients for parameters from hydrocarbons as default and for other components use the true criticlal volume.

Btw the ref also has the Spencer-Danner modified Rackett

[2021-11-26 07:04] AlexanderSemenyak opened #240 "PP Grayson-Streed in v 7.0 not calculate some Phase Properties [Bug possible]"
PP Grayson-Streed in v 7.0.0 not calculate some Phase Properties

**To Reproduce**
Steps to reproduce the behavior:
1. Calculate attached model in DWSIM 7.0.0
2. See error in TabPage for MaterialStream => Result [Phase Properties]

**Expected behavior**
1. Result [Phase Properties] for MS? calculated in v 6.2.2

**Screenshots**
Results in v6.2.2
![PP_v_6_2_2_valid](https://user-images.githubuserco

[2021-11-26 12:09] #240 closed, assigned to nobody

[2021-11-26 13:40] #236 closed, assigned to nobody

[2021-11-26 13:41] andr1976 commented on #234
It works now, but some other issues appear which I am investigating, if this is related to the fix, so keeping this one open for now

[2021-11-26 17:01] einhander commented on #147
I've found that on debian 11 there no libenchant1c2a and libhunspell-1.4-0 available. I think that dwsim package should have them like libwebkit-1.0.
You can get them from debian stretch repo.

[2021-11-26 17:05] einhander commented on #222
I tested v7.0.1 on debian 11, dwsim runs ok. I'll try to update only glib2 library to find out is it root of this bug.

[2021-11-26 18:54] einhander commented on #222
@DanWBR Here some results of my little investigation:
I created chroot for debian 11 and install dwsim with system mono. It's run as it should.
After upgrade libc6, libc-bin, libglib2.0 to debian 12 versions, I've caught this error.
So there definitely gtk-sharp fault, as I pointed in my previous comment. I don't know if it's possible to backport patch from gtk-sharp 3 to version 2, that used in d

[2021-11-26 22:34] DanWBR commented on #222
@einhander using the gtk3 backend would be the easiest path. I even tried something months ago but had several problems with some controls. I'll have to make it work eventually, gtk2 is not supported anymore on new distros.

[2021-11-27 14:30] DanWBR commented on #222
@einhander did you try the wine version? let me know if it works. It requires wine 3 and that's all.

[2021-11-27 17:31] einhander commented on #222
@DanWBR I've tried wine version with 3.0 and 5.18 generaly it works. But there a lot of non critical errors appeared due to wine nature in tiling WMs.
![123](https://user-images.githubusercontent.com/5439042/143690739-ef985fe8-9aa4-423d-8afa-5ad8e97b4929.png)
Or anoter one then I click on 'new chemical process model':
[code]

I did not test it quite well but native classic UI works somehow better

[2021-11-27 17:40] DanWBR commented on #222
@einhander that's weird, it works quite nicely here in my Ubuntu 16.04 VM:

<img width="1536" alt="Captura de Tela 2021-11-27 às 14 39 11" src="https://user-images.githubusercontent.com/2669419/143691329-8e255a93-b87b-4dd3-bebf-dca6f920e656.png">
<img width="1532" alt="Captura de Tela 2021-11-27 às 14 40 03" src="https://user-images.githubusercontent.com/2669419/143691333-feb928fc-ba93-4f1c-8d13

[2021-11-27 17:52] einhander commented on #222
Ubuntu 16.04 use unity as DE, I use tiling wm - awesome wm. Wine has problem with handling of sub windows and in tiling wm it can be shown. Because of that I prefer not to use wine.
P.S. most of window placing problems can be bypassed by resizing to full screen.
Right now I can use classic UI and chroot environment with debian 11 to run crossplatform ui.
I'm trying to create appimage instead of ch

[2021-11-28 22:44] andr1976 commented on #234
Made a fix #241, closing once PR accepted/merged into main branch

[2021-11-28 22:50] andr1976 commented on #233
I have investigated a little more, and things work as expected only and only if the specification is made for the first outlet, and not the second outlet. So, for now until a more general fix is made,  setting blank specification for the first outlet should ideally raise an error (for three outlets I am not entirely sure, I assume once should specify at least 1 and 2 outlet, and leave outlet three

[2021-11-28 23:10] DanWBR commented on #233
@andr1976 if you have two outlets, DWSIM will calculate the mass balance based on specification 1 only, it will ignore the second specification whatever value it has...

https://github.com/DanWBR/dwsim/blob/b6653d11eace4830a657e7796db71e09d4c007b6/DWSIM.UnitOperations/UnitOperations/Splitter.vb#L321-L344

[2021-11-28 23:12] andr1976 commented on #233
@DanWBR, maybe the box should be greyed out then for spec2, one could get the impression it is actually used (though it is not)

[2021-11-28 23:34] DanWBR commented on #233
@andr1976 yes, I agree

[2021-11-28 23:54] #234 closed, assigned to nobody

[2021-11-29 14:51] Jialei-Xin opened #242 "Label size"
![Screenshot 2021-11-29 225034](https://user-images.githubusercontent.com/41543691/143889509-f6192a25-05f5-4c7f-a4c5-acd518c7a5a5.png)
Please, is it possible to increase the label/text size? to make it nicer on a report. Thx!

[2021-11-30 20:33] vitcbra opened #243 "[Bug] Modified UNIFAC (NIST) error"
System.Collections.Generic.KeyNotFoundException: A chave fornecida não estava presente no dicionário.
   em Microsoft.VisualBasic.CompilerServices.Symbols.Container.InvokeMethod(Method TargetProcedure, Object[] Arguments, Boolean[] CopyBack, BindingFlags Flags)
   em Microsoft.VisualBasic.CompilerServices.NewLateBinding.CallMethod(Container BaseReference, String MethodName, Object[] Arguments, Str

[2021-12-01 12:59] DanWBR commented on #243
@vitcbra can you attach the simulation file?

[2021-12-01 13:46] VictorNine opened #244 "[Bug] Cant switch flow sheet states"
**Describe the bug**
It looks like the Flow sheet states can’t be used when there are pipes with hydraulic profiles in the flow sheet. That is, you can switch between states without getting errors.

Error “An entry with the same key already exists.”

**To Reproduce**
Add a pipe to the flowsheet and try to save two states. Then try to switch between them.

**Expected behavior**
Should change states

[2021-12-01 14:36] crentisttt opened #245 "Cant Change Font Appearance"
I cant change the font appearance. Im using 7.0.1. Im on mac os 10.13.2.
![Screen Shot 2021-12-01 at 10 24 24 PM](https://user-images.githubusercontent.com/95363439/144253593-9012e797-f7ab-4826-9d86-b7d2814d11d5.png)

[2021-12-01 15:36] vitcbra commented on #243
@DanWBR The error is present since the Property Package is add. I using 7.0.1 version and windows 10.
![Captura de Tela (149)](https://user-images.githubusercontent.com/80062371/144264290-99242b2b-fe79-4a6d-8373-c5bcef99a508.png)
"System.Collections.Generic.KeyNotFoundException: The given key was not present in the dictionary.
   at Microsoft.VisualBasic.CompilerServices.Symbols.Container.InvokeMe

[2021-12-01 18:46] DanWBR commented on #242
@Jialei-Xin it will be in the next version!

[2021-12-01 18:50] DanWBR commented on #243
@vitcbra it works correctly here when adding to a new flowsheet too. I need your file, if possible.

[2021-12-01 20:50] #233 closed, assigned to nobody

[2021-12-02 06:56] kookma opened #246 "[Enhancement] Support for Python 10"
Python 10 is now stable and the recommended version to install by python.org!
Yet, DWSIM has great support for Python specially in the recent releases!

I would suggest t add support for Python 3.10

[2021-12-02 07:01] kookma opened #247 "[Enhancement] Show/Hide Extra Buttons on the Main Toolbar"
DWSIM by default shows

* Download additional components
* Login with Simulate 365 account

![image](https://user-images.githubusercontent.com/830394/144373274-c0870b81-efdb-465b-8b04-a59e388b4f8f.png)

While these are great and should be there. I like to suggest add an option in Setting to be able to hide them on demand!
For example in our class we normally use a fixed version we distribute at th

[2021-12-03 13:09] #229 closed, assigned to nobody

[2021-12-05 08:27] AlexanderSemenyak opened #248 "[Different results]GERG-2008 PP and ISO-20765-2015 Reference data -> different results - expected behavior?"
GERG-2008 and ISO-20765-2015 Reference data -> different results

**To Reproduce**
Steps to reproduce the behavior:
1. Calculate Material stream in vapor-preffered (or default) phase
2. See different results

**Screenshots**
![gerg2008ISOQuestions](https://user-images.githubusercontent.com/42087193/144739125-9dceadaa-6825-4edb-a048-359b06b30c11.png)

**Desktop (please complete the following inform

[2021-12-06 01:22] Jialei-Xin opened #249 "Heat exchanger pinch point"
Hi,

I am not sure if anyone has noticed this before in the Heat exchanger model: when setting specification by cold/hot outlet temperature etc., the pinch point (minimum temperature difference) is not required. Even pinch point is negative, the calculation still shows success.  This is a kind of bug and can be a problem for some users. I hope this can be noticed and make pinch-point a setting for

[2021-12-06 15:22] andr1976 opened #250 "[Bug] Error in density/compressibility calculation (EOS)"
**Describe the bug**
Density for 2. liquid phase wrong (> 6000 kg/m3), compressibility a factor of 10 too low,  and phase erronously mapped to 2. liquid, even being hydrocarbin rich. Water phase mapped to 1. liquid

**To Reproduce**
Steps to reproduce the behavior:
Rum attached simulation file

**Expected behavior**
2. liquid phase density arond 809 kg/m3 and 1. liquid phase density around 625 kg/

[2021-12-06 21:06] andr1976 commented on #250
The problem in DWSIM.Math/CubicRoots.vb,

[code]

Switching to the older CalcRoots (numerical) fixes the problem, I think the problem is the order of roots CalcRoots2, and how it is shuffled around, because the right root is in  there :-)

[2021-12-06 21:55] #250 closed, assigned to nobody

[2021-12-06 21:57] andr1976 commented on #250
Hi Daniel, you're quick :-) However, the Z root for the compressible liquid phase seems to be off, enough to shift density by 50 kg/m3, let me check

[2021-12-06 22:01] DanWBR commented on #250
github closed it automatically :)

CalcRoots() is there since forever, maybe it is the volume shift?

[2021-12-06 22:09] andr1976 commented on #250
I am using EOS density to avoid any disturbances from other things on top of the eos. Compared to my own Z = 0.46465404 compared to 0.52 something in DWSIM with CalcRoots (and CalcRoots2 third real root, it is there, just wrong root returned), so not related to one or the other. Hmmm, I think I have been carefull to use identical BIP's, so this is a little puzzling - I am not 100 % sure, but I thi

[2021-12-06 22:43] andr1976 commented on #250
Ok, I have checked now against two other tools Unisim and Caleb Bells thermo DWSIM compressibility and density (EOS) is spot on - I am sooooo sorry , I must messed something up in my calc / definition.

[2021-12-07 11:28] andr1976 commented on #250
@DanWBR good thing though we spotted a perculiar effect on compressibility  in our Michelsen flash algorithm

[2021-12-07 11:32] andr1976 commented on #248
Its not that far off :-)

[2021-12-07 11:44] DanWBR commented on #248
@AlexanderSemenyak the GERG-2008 code is not from me, and since there are so many different parameters, it is hard to know where this difference comes from... https://github.com/DanWBR/dwsim/blob/windows/DWSIM.Thermodynamics.AdvancedEOS.GERG2008/Base.vb

[2021-12-07 14:21] andr1976 commented on #248
I have spottet a bug, isobutane is used for isopentane, not sure this is the full story, let me check

[2021-12-07 15:05] andr1976 commented on #248
First impression is that it made it worse :-(, not as expected, and order of iso/n-butane/pentane is swapped compared to the ISO standard, which doessnt help when spot checking parameters

[2021-12-07 15:58] andr1976 commented on #248
Alright, got it, a few other naming issues, now its there, I will make a PR as soon as possible

[2021-12-07 17:06] andr1976 commented on #248
Made a fix, and @AlexanderSemenyak  you should use the chemsep alkanes for N-hexane N-heptane, the CheDL components hexane/heptane are not mapped to GERG componets. We should probably make some more robust fix fir this in the future
![image](https://user-images.githubusercontent.com/58475535/145073958-20c711a5-8a1c-4072-90c0-018bbe3222f8.png)

[2021-12-07 17:12] #248 closed, assigned to nobody

[2021-12-07 17:12] #244 closed, assigned to nobody

[2021-12-07 17:12] #243 closed, assigned to nobody

[2021-12-07 17:12] #242 closed, assigned to nobody

[2021-12-07 17:23] AlexanderSemenyak commented on #248
Thank's @andr1976,  @DanWBR  :)

[2021-12-07 19:56] andr1976 opened #253 "New files from 7.0.1 does not open in older DWSIm versions [Bug]"
Simulation file saved in v7.0.1 cannot be opened in older verios of DWSIm 6.X
**Describe the bug**
![image](https://user-images.githubusercontent.com/58475535/145097095-e0e086df-e122-459f-a6dd-5754ee498008.png)

**Expected behavior**
File opens without problems

[2021-12-07 21:36] DanWBR commented on #253
this is the price of evolution.

just kidding, I'll see what can be done. older versions think that there is only a single file in the zip package, but now there is a database (.db) file on it too.

[2021-12-07 21:42] andr1976 commented on #253
Well a feature then :-) I guess a clean Cut could be made with respect to pre-7.0, but at least going forward in the plus-7.1 backwards compatibility could be nice up until say v7.0. Coming from Aspen HYSYS the version hell being unable to open files is making me crazy

[2021-12-07 21:45] DanWBR commented on #253
I believe that it is possible. the db name is random and the XML file name starts with a "t". if the db name starts with u, v, x or z, it can go to the end of the queue, and then older versions will find the XML file first.

[2021-12-08 15:41] einhander commented on #148
I'm trying to create appimage from deb package, but without any success. It seems that appimage creation should be made during compile stage using `dotnet publish`. There is example of how to deploy .NET Core (Mono) applications as an AppImage using `dotnet publish -f netcoreapp3.1 -r linux-x64` from within a .cs program. https://github.com/ppy/osu-deploy/blob/697a49e9602502a2b7a899c0dff5383f6512d

[2021-12-08 17:19] DanWBR commented on #253
@andr1976 for backwards compatibility the user can save the file to the dwxml format.

[2021-12-08 17:51] #253 closed, assigned to nobody

[2021-12-09 09:44] andr1976 commented on #248
@AlexanderSemenyak could you elaborate on your usage of GERG 2008, just out of curiosity. Do you intend to use for two-phase applications also? In gas treatment processes, dew point control, liquifaction etc?

[2021-12-09 16:35] AlexanderSemenyak commented on #248
1. Hydraulic modeling gas (and two phase flow: gas+condensate+ water) flows on wellbores for pressures from 2 kgs/cm2 to 250 kgs/cm2 (gas fields and gas storages)
2. Thermodynamic modeling: dew points, critical points, hydrates
3. Optimizations for two-phase flows: calculate minimum/maximum liquid holdup speeds/optimal energy rejims
4. Network of wellbores and pipelines on top of eartch pressquer

[2021-12-09 17:22] andr1976 commented on #248
@AlexanderSemenyak , sounds very interesting (and challenging).

I am looking a little into the two phase capabilities of DWSIM+GERG 2008. The Gas 1 example that you send, actually has a small liquid phase if you allow the flash calc to run (with Nested Loops, with Inside-Out it is mapped to all liquid, thats besides the point). This is a little interesting, since the example in the ISO standard i

[2021-12-13 14:08] #249 closed, assigned to nobody

[2021-12-15 05:40] Jlingam opened #258 "/*, why it is happening? Do i need to change my recycle block? Please [Enhancement] \"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-15 10:28] #258 closed, assigned to nobody

[2021-12-15 18:00] KeepFloyding opened #259 "[Bug] App closes unexpectedly on Ubuntu 21.04"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
When using the pre-compiled debian binary on Ubuntu 21.04, application shuts down after selecting a compressor and moving it in the flow sheet. Error shows the following

ubuntu-box@ubuntubox-Standard-PC-Q35-ICH9-2009:~/Downloads$

[2021-12-16 13:26] DanWBR commented on #259
@KeepFloyding, both normal and wine versions of DWSIM currently run and are supported up to Ubuntu 20.04.2.

[2021-12-16 14:12] KeepFloyding commented on #259
Ahh ok, thanks for letting me know. Let me use 20.04 then :)

For future, it might be useful to specify compatible versions (apologies if this information is already somewhere and I missed it). I can add it to the bottom of the README if desired? It might also be good to have it on the website.

[2021-12-16 14:21] DanWBR commented on #259
@KeepFloyding the problem is a little more complicated than that... DWSIM for Linux is based on GTK2 which is being deprecated everywhere, and upgrading it to GTK3 is not an easy task. I've tried already and failed, unfortunately.

[2021-12-16 14:37] #231 closed, assigned to nobody

[2021-12-17 09:08] KeepFloyding commented on #259
@DanWBR would creating a snap help with this? https://snapcraft.io/docs/gtk2-applications

[2021-12-17 13:25] andr1976 commented on #259
@KeepFloyding how do you install dwsim on Ubuntu in the first place, I get tons of dependecy issues, and cannot install mono either (I assume its needed)

[2021-12-17 13:43] DanWBR commented on #259
@andr1976 I've downloaded Ubuntu 20.04 yesterday:

`
sudo apt install mono-complete mono-vbnc
`

double click on the dwsim debian package and install it.

[2021-12-17 14:00] andr1976 commented on #259
and the mono stuff is included in the standard Ubuntu repos?

[2021-12-17 14:00] DanWBR commented on #259
@DanWBR yes

[2021-12-17 14:02] andr1976 commented on #259
@DanWBR alright, I am proably hit by some limitations runnning off a virtual machine behind company firewall etc., I will try a clean bare-metal install on an old laptop at home sometime

[2021-12-17 15:09] KeepFloyding commented on #259
yeah so 20.04 works for me; just download the precompiled debian binary package and do `apt install`; I also ran this in a VM (QEMU)

[2021-12-17 17:06] einhander commented on #259
It's duplicate of #222. @andr1976 you can use chroot with Ubuntu 20.04 or debian 11 to run dwsim on any linux system.
@KeepFloyding  I tried to create appimage from precompiled binary but I bumped into mono libraries version mismatched. I think that flatpack or snap package creation will stuck on same issue.  All tutorials said that appimage or flatpack packages can be created during compilation s

[2021-12-18 16:01] #232 closed, assigned to nobody

[2021-12-18 16:42] andr1976 opened #260 "Some included examples does not run[Bug]"
The following examples does not run/have errors:

- Petroleum distillation with reboiler. Runs first time, second time fails
![image](https://user-images.githubusercontent.com/58475535/146648508-a5a09a6d-533b-4fa0-8279-4e6b05f84cfc.png)

- Extractive Distillation. Fails when run 2 times
![image](https://user-images.githubusercontent.com/58475535/146648734-4d3e5590-8159-46b2-a8b9-e2dea1d67498.png)

[2021-12-20 16:41] Jamesincolorado opened #261 "No water from 3-phase flash and component sort by tag fails.[Bug]"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
A clear and concise description of what the bug is.
The attached 3-phase flash does not produce a heavy liquid stream. I attached the file along with an identical Virtual Materials Group simulation report.

**To Reproduce**
Steps

[2021-12-20 19:17] GenarioA opened #262 "[Bug]"
**Describe the bug**
Hi guys! I think there's a bug on the UNIFAC/MODFAC models. Aparently there are some parameters missing, so when I create a compound that contains furfural and CHO groups the simulation doesn't run. The bug is confirmed by the yellow square in the thermodinamyc properties screen (screenshots below).

**To Reproduce**
1. Create or import any compound with CHO or furfural groups

[2021-12-21 18:31] Jamesincolorado opened #263 "Peng Robinson Interaction Parameters[Bug]"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
A clear and concise description of what the bug is.

I noticed that the butane water Kij is zero, whereas all of the other water alkanes are 0.5.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'

[2021-12-29 12:31] DanWBR commented on #262
@GenarioA this is not a bug. Not all UNIFAC/MODFAC interaction parameters are publicly available.

[2021-12-29 12:31] #262 closed, assigned to nobody

[2021-12-29 12:34] #263 closed, assigned to nobody

[2021-12-29 12:38] DanWBR commented on #246
@kookma you mean Python 3.10?

[2021-12-29 13:30] #228 closed, assigned to nobody

[2021-12-29 13:31] #247 closed, assigned to nobody

[2021-12-29 13:32] #65 closed, assigned to nobody

[2021-12-29 13:32] #57 closed, assigned to nobody

[2021-12-29 13:33] #63 closed, assigned to nobody

[2021-12-29 13:33] #165 closed, assigned to nobody

[2021-12-29 13:35] DanWBR commented on #222
Closing this one, let's continue on #259

[2021-12-29 13:35] #222 closed, assigned to nobody

[2021-12-29 13:35] #246 closed, assigned to nobody

[2021-12-29 15:40] kookma commented on #246
Hi Daniel.
Yes I mean Python 3.10 and million thanks for the update!

[2022-01-03 16:09] andr1976 commented on #261
Hi James, which version are you running? Please attach file as well.

[2022-01-04 20:21] Shumb0 opened #265 "Flowsheet initialization error[Bug]"
Uploading a flowsheet inside the flowsheet module in DWSim causes an error in version 7.1.1 (Windows 64 Bit). Have tested on 2 machines with different flowsheets.

![image](https://user-images.githubusercontent.com/97127676/148118830-9b1efb66-806b-4d58-a9c3-3cd9d5451dbf.png)
![image](https://user-images.githubusercontent.com/97127676/148119015-28d30bea-6794-4f3a-95f9-ae201c9f5ef5.png)

Error displ

[2022-01-07 17:56] Jamesincolorado opened #266 "[Bug]"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
Operation "Cool-1" (top middle) has an outlet temperature of 147 F.  Outlet stream "cool-1 out" temperature is 80 F. This is a solved flowsheet. When I run again, the temperatures match. When I solve a third time with a different

[2022-01-07 18:24] Jamesincolorado opened #267 "[Bug]"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
1. P-V flash in cooler provides wrong composition.
2. Outlet separator stream have widely different temperatures.

**To Reproduce**
Open simulation and look at values in screen shot.

**Expected behavior**
Water should drop out of

[2022-01-07 23:26] DanWBR commented on #266
@Jamesincolorado this behavior is common when you include one or more Specification blocks. Spec blocks change the natural order of calculations in the flowsheet.

[2022-01-07 23:26] #266 closed, assigned to nobody

[2022-01-10 21:50] #265 closed, assigned to nobody

[2022-01-13 22:17] chvial opened #268 "[Bug]"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
Objet Pump - Calculation type : outlet pressure
The unit of outlet pressure value cannot be changed (grey) , while the unit of pressure increase is active (without any effect).

**To Reproduce**
Using pump object : always appears

[2022-01-17 19:02] PaalRT opened #269 "[Bug] CoolProp minimum temperature issues"
Hi,

i'm a new user that just finished your youtube courses, so this issue might be due to my beginner's knowledge.
If so, i apologize.

My issue is that i'm trying to model a heat exchanger with the CoolProp (Incompressible Mixtures) Property package.
I've used the following:
-Hot Fluid: Water
-Cold Fluid: 50/50 wt% Water / ethylene glycol

Steps to reproduce the behavior:
1.  Select Water and Et

[2022-01-17 19:28] kpat2022 opened #270 "Cooler simulation does not work if vapor fraction based calculation is selected as an option . [Bug]"
The simulation works for varying outlet temperature manually.

However, it doesn't work if vapor fraction is selected. Inlet is 100% vapor. Trying solve for outlet 100% liquid (0 vapor fraction).

![image](https://user-images.githubusercontent.com/97913478/149827264-3e73b6e1-67cf-4776-8ac4-dd684c7ef5de.png)

![image](https://user-images.githubusercontent.com/97913478/149829182-914b57ad-5aad-4fbf-8

[2022-01-18 16:59] andr1976 opened #271 "[Bug] Flash calculation predicts phase split when single phase is expected"
Following the GERG 2008 example from Alexander using gas 1 from the ISO standard at 200 bar and 250 K a single gas phase is expected (confirmed with REFPROP/GERG and also PR in Unisim / Michelsen flash predicts single phase - although mapped to liquid). The pressure is above critical pressure so two-phase should not be possible - however DWSIM predicts approx. 2% liquid both witth GERG and PR.

**

[2022-01-23 16:18] DanWBR commented on #270
@kpat2022 can you attach a sample file?

[2022-01-23 16:24] DanWBR commented on #271
@andr1976 decrease the PT/PVF flash tolerance in the property package settings.

[2022-01-23 16:24] #271 closed, assigned to nobody

[2022-01-23 16:25] DanWBR commented on #269
@PaalRT please attach the file.

[2022-01-23 21:00] andr1976 commented on #271
Thanks @DanWBR

[2022-01-23 21:11] andr1976 commented on #271
@AlexanderSemenyak , this one might be relevant for you also, using GERG 2008, and @ianhbell / @ibell

[2022-01-23 23:04] Shumb0 opened #272 "Input changes not passed to Subflowsheet[Bug]"
Inputs given inside the input parameter in a Flowsheet unit operation is not being passed onto the sub-flowsheet.

TestingFSLink model has a Boiler unit operation that uses the Boiler2 Flowsheet. Changing Input variables gives and error
"The given key was not present in the dictionary."

Windows 10 64 bit version DWSim v7.2

[Boiler.zip](https://github.com/DanWBR/dwsim/files/7921637/Boiler.zip)

[2022-01-23 23:07] Shumb0 opened #273 "Change in temperature not a property in cooler[Bug]"
Change in temperature is a variable that be changed inside a cooler/heater but is not found as a property. Example below. This also has an impact on other unit such as specification blocks

Windows 10 64 bit version DWSim v7.2
![image](https://user-images.githubusercontent.com/97127676/150701743-371836f5-52e1-4f9f-ac9e-80d6f3b6a25d.png)
![image](https://user-images.githubusercontent.com/97127676/1

[2022-01-24 08:39] PaalRT commented on #269
Hi,

See attached.

BR, Pål Ryssdal Tveit

From: Daniel Wagner ***@***.***>
Sent: Sunday, January 23, 2022 5:26 PM
To: DanWBR/dwsim ***@***.***>
Cc: Pål Ryssdal Tveit ***@***.***>; Mention ***@***.***>
Subject: Re: [DanWBR/dwsim] [Bug] (Issue #269)

@PaalRT<https://github.com/PaalRT> please attach the file.

—
Reply to this email directly, view it on GitHub<https://github.com/DanWBR/dwsim/issues/2

[2022-01-24 12:41] DanWBR commented on #269
@PaalRT you need to come to GitHub and attach the file here in the issue report, replying to the notification email won't work.

[2022-01-24 13:15] kpat2022 commented on #270
Please see attached.

On Sun, Jan 23, 2022 at 11:18 AM Daniel Wagner ***@***.***>
wrote:

[2022-01-24 14:21] DanWBR commented on #270
@kpat2022 there is no attachment, you need to zip the simulation file and drag and drop it in your answer box here on GitHub.

[2022-01-24 14:29] DanWBR commented on #272
@Shumb0 did you initialize the subflowsheet?

[2022-01-24 17:43] kookma opened #274 "[Enhancement] Number of Tubes in Tubular Reactors for Correct Pressure Drop Calculation"
**Is your feature request related to a problem? Please describe.**
When you simulation multi tubular reactor like methanol reactor in DWSIM, you need to specify the number of tubes!
If not DWSIM assume a single tube and for methanol reactor it calculates huge tube diameter which result in wrong pressure drop!

**Describe the solution you'd like**
Now UI accepts volume and one of two ID or L
If we

[2022-01-24 17:44] kpat2022 commented on #270
[play.zip](https://github.com/DanWBR/dwsim/files/7927678/play.zip)

[2022-01-24 17:58] DanWBR commented on #270
@kpat2022 the calculation fails because you've manually forced the inlet stream to be all vapor. set it back to global definition and it should work.

[2022-01-24 17:58] #270 closed, assigned to nobody

[2022-01-24 19:33] Shumb0 commented on #272
The subflowsheet initializes. Variables are linked (inputs/outputs, properties etc.) If you attempt to change an input from the main window. "The given key was not present in the dictionary.".
![image](https://user-images.githubusercontent.com/97127676/150850944-8468d49e-19a9-4b96-930c-33df6e38d56a.png)

![image](https://user-images.githubusercontent.com/97127676/150851507-f5bdc98c-9a5c-42e8-9a31-

[2022-01-26 09:27] mvass7 opened #275 "ChemSep column and CAPE Open unit operation information are missing from the XML results file"
Hi, I am interesting in obtaining the DWsim results file, after running the sim, in an xml format for a project that I ll be working on. However, it is essential for me that the information (e.g operating conditions) of all unit operations are stored in this file. I realized that for the ChemSep column and I think for CAPE OPEN units in general those info are not available.

Is it possible to some

[2022-01-26 10:49] DanWBR commented on #275
@mvass7 are you referring to the XML results report?

[2022-01-26 11:42] #273 closed, assigned to nobody

[2022-01-26 11:59] #272 closed, assigned to nobody

[2022-01-26 11:59] #268 closed, assigned to nobody

[2022-01-26 19:12] Jamesincolorado commented on #261
How was the 3-phase flash resolved and when will the fix be available?

[2022-01-26 19:17] andr1976 commented on #261
You didnt attach any supporting files

[2022-01-26 20:16] andr1976 commented on #267
@Jamesincolorado One problem is that heat -01 has a too low temperature, the fluid is below dew point, so you remove most of the water upstream instead of in SCRUB-1. The thing with the temperature, it doesnt matter since the flow of liquid is zero. I assume that if you had even a small flow, the temperature would be the same. Just reduce vapor fraction out of COOL-2 to say 0.995 and the temperatu

[2022-01-26 21:12] DanWBR commented on #267
@andr1976 @Jamesincolorado I believe that the temperature is different mainly because the composition of the stream is zero, so DWSIM tries to calculate the temperature with enthalpy equal to zero. I will see if there is a way of leaving it equal to the vapor or vice versa in case of a null flow output.

[2022-01-26 21:23] Jamesincolorado commented on #267
I think it is necessary to equalize the temperatures even for
      zero flow. Otherwise, you will be bombarded with bug error
      complaints!

        James
            Meyer, MBA/PE
        Aspen
            Engineering Services, LLC
        Golden,
            Colorado
        303-887-2032
        www.aspenesco.com
        ***@***.***
          | LinkedIn

    On 1/26/2022 2:12 PM, Daniel Wag

[2022-01-26 21:26] DanWBR commented on #267
@Jamesincolorado it shouldn't matter if you have zero flow and zero composition.

[2022-01-26 21:35] Jamesincolorado commented on #267
I understand, but every other simulator in the world will show
      identical temperatures.

        James
            Meyer, MBA/PE
        Aspen
            Engineering Services, LLC
        Golden,
            Colorado
        303-887-2032
        www.aspenesco.com
        ***@***.***
          | LinkedIn

    On 1/26/2022 2:27 PM, Daniel Wagner
      wrote:

      @Jamesincolorado it shouldn'

[2022-01-26 22:22] andr1976 commented on #267
@Jamesincolorado  As @DanWBR  says it doesn't matter - the thing is that zero flow / zero composition is kind of a singularity, the temperature is simply not defined, setting the temperature to anything is wrong in any way it should be null, or actually  you could argue it should be 0 K m since |S| = 0 :-) sorry.  What about my earlier reply, did you have time time to reflect on the reason for no

[2022-01-26 23:24] mvass7 commented on #275
@DanWBR I am talking about the  DWSIM XML Simulation File (.dwxml) saving format. I basically want to access information about the ChemSep column and CAPE OPEN units through this file. Currently I can get all the information I need for the rest of the unit operations except those two types.

[2022-01-26 23:28] DanWBR commented on #275
@mvass7 I believe that it is there, you just couldn't find it, otherwise the natural gas processing unit sample wouldn't work, as it has 3 chemsep columns.

[2022-01-27 02:07] Jamesincolorado commented on #261
We have two bugs.

    1. Regarding the 2-phase separator, the specification was for
      1.00 vapor. Consequently, the bottom stream, although zero, should
      indicate the bubble point.

    2. The three-phase flash bug is a major problem. Most certainly,
      there should be a heavy phase flow as indicated by the VMG
      simulation and field operations. DWSIM shows no heavy phase.
      E

[2022-01-27 02:14] DanWBR commented on #261
@Jamesincolorado Still no file. You need to drag the file directly here in GitHub when adding a new comment, and not through an email reply

[2022-01-27 07:23] andr1976 commented on #261
Also the simulation file should be zipped - or file ending renamed to zip

[2022-01-27 16:12] Jamesincolorado commented on #261
Here are the files.
[bug reports.zip](https://github.com/DanWBR/dwsim/files/7951962/bug.reports.zip)

[2022-01-27 17:29] mvass7 commented on #275
@DanWBR Sorry I should make my question more clear. I am working with XML files.

 I attached 3 images to show you how three different unit operation objects look when I open a .dwxml file in to an editor to see it in its serialized format. The first is an object of a  unit operation developed in CAPE-OPEN and used in a random sim, the second is a chemsep object  and the third is a standard  disti

[2022-01-27 17:52] andr1976 commented on #261
@Jamesincolorado
Flash specified as two phase - see screen dump. If you change flash specification and actually enter the same flow as in VMG you get 121.9 lbm/h water compared to 122.55 lbm/h water in VMG. Pretty damn close. Can be due to slightly different BIPs/Kijs. VMG probably have tuned their compared to the Dechema/ChemSep used by DWSIM.
![image](https://user-images.githubusercontent.com/58

[2022-01-27 17:53] andr1976 commented on #261
Please close this issue

[2022-01-27 18:22] Jamesincolorado commented on #261
Does not solve with default equilibrium.
![mstr-01 not solved](https://user-images.githubusercontent.com/76176708/151420207-61739f35-2892-4c1e-8153-4d01103ee34b.jpg)

[2022-01-27 18:22] Jamesincolorado commented on #261
Does not solve with default equilibria. See file on git hub.

        James
            Meyer, MBA/PE
        Aspen
            Engineering Services, LLC
        Golden,
            Colorado
        303-887-2032
        www.aspenesco.com
        ***@***.***
          | LinkedIn

    On 1/27/2022 10:52 AM, Anders Andreasen
      wrote:

      @Jamesincolorado
        Flash specifies as two phase -

[2022-01-27 18:25] andr1976 commented on #261
Please install latest version of DWSIM, it seems you're running an older version. First step when using open source software - always check latest version.

[2022-01-27 20:52] DanWBR commented on #275
@mvass7 unfortunately I don't have control of how the CAPE-OPEN object will persist its configuration state, as it can return something in an unknown binary format that only itself can understand and decode. What I do is to encode the data in Base64 string format so it can be written and read from/to the XML file.

You can find more information on the CAPE-OPEN persistence standard itself: https:/

[2022-01-27 20:55] DanWBR commented on #275
this is how the data looks like in the DWSIM XML file:

<img width="950" alt="Captura de Tela 2022-01-27 às 16 54 41" src="https://user-images.githubusercontent.com/2669419/151442179-78f051a4-7aa6-4963-a49d-45ba30afd7ed.png">

[2022-01-27 22:04] Jamesincolorado commented on #261
Will not solve with version 7.2.
[3-phase sep.zip](https://github.com/DanWBR/dwsim/files/7954102/3-phase.sep.zip)

[2022-01-27 22:14] DanWBR commented on #261
@Jamesincolorado it did solve here. v7.2.0. I'm closing this issue, won't waste my time on this anymore as I have a lot of things to do already. Sorry.

<img width="749" alt="Captura de Tela 2022-01-27 às 18 13 06" src="https://user-images.githubusercontent.com/2669419/151452449-cdb7f2ca-bf81-4c4e-bc09-fd8273a453d8.png">

[2022-01-27 22:14] #261 closed, assigned to nobody

[2022-01-27 22:53] mvass7 commented on #275
Thank you very much for your help. I will take a look at those and hopefully l make it work.

[2022-01-28 07:53] PaalRT commented on #269
Hi Dan,

sorry for the late response!

Hope this is what you're looking for:
[Cooling System_Error.zip](https://github.com/DanWBR/dwsim/files/7956766/Cooling.System_Error.zip)

BR,
Paal

[2022-01-28 17:15] Jamesincolorado opened #278 "[Bug]"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
The unit of the molar flow is not shown. Consequently, an error appears if the molar flow is changed.

**To Reproduce**
Steps to reproduce the behavior:
Unzip and open file. Change the dry feed stream rate.

[NGC for gas lift (spe

[2022-01-28 18:55] Jamesincolorado opened #279 "Splitter Font"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
The splitter font is too small to be useable.  See attached.
[HX-1 RATING.zip](https://github.com/DanWBR/dwsim/files/7961122/HX-1.RATING.zip)

[2022-01-28 19:02] DanWBR commented on #279
@Jamesincolorado what do you mean by "splitter font"? Please add a screenshot, and do not reply to this by using your email!

[2022-01-28 19:13] Jamesincolorado commented on #279
![spliiter screen shot](https://user-images.githubusercontent.com/76176708/151607404-cf6dddf0-f778-47ad-8865-0e8e80a6dffe.jpg)

[2022-01-28 20:14] DanWBR commented on #279
@Jamesincolorado ok, got it. thanks

[2022-01-29 17:55] Jamesincolorado opened #280 "PR EOS Failure[Bug]"
The attached file fails at the outset with a "not execute PR EOS" at MSTR-38 using default or VLLE PR. The DWSIM file is attached. Also attached is a screenshot of the simulation with the error message and a screenshot of the "about DWSIM" window. The file does run with the VLE option selected.

[NOT EXECUTE PR EOS.zip](https://github.com/DanWBR/dwsim/files/7964252/NOT.EXECUTE.PR.EOS.zip)

[2022-01-29 19:24] DanWBR commented on #280
@Jamesincolorado when the usual combination of Default + Nested Loops for equilibrium calculations, you can add a second property package changing the eq calc method to Default + Gibbs Minimization, for instance, and then use this propert package in the problematic streams and unit operations. See the attached solved version of your flowsheet.

FYI, there aren't many great open source math librari

[2022-01-29 20:06] #275 closed, assigned to nobody

[2022-01-29 20:08] DanWBR commented on #260
@andr1976 about biodiesel combustion: yes, it does

[2022-01-29 20:08] #260 closed, assigned to nobody

[2022-01-30 21:17] andr1976 commented on #280
Hi @Jamesincolorado , another option which is speedier that the Gibbs min, is to increase max iterations for you PR VLLE PT/PV, say by a factor of 5, and then maybe reduce tolerance by an order of magnitude - then MSTR-38 solves with PR Default/VLLE and Nested Loops. The compressors with problems can be handled by PR with just VLE. It works for me

[2022-01-30 21:18] andr1976 opened #281 "[Bug] Error messages does not include unit operation tag anymore"
latest version 7.3.0 no longer shows the stream/unit operation where an error occurs - only line in the source code

![image](https://user-images.githubusercontent.com/58475535/151718256-67529649-224c-411e-ae9a-e2e966aaf7c9.png)

**Additional context**
Add any other context about the problem here.

[2022-02-04 23:04] andr1976 opened #283 "Specification blocks not updating [Bug]"
**Describe the bug**
Changing input to a specification block does not update the output of the specification block

**To Reproduce**
Let a number of streams temperature and pressure be set by a master stream.  Specification block update temperature and pressure of slave streams. The slave streams dont get properly updated. Some does, some don't
See also attached case

**Expected behavior**
All str

[2022-02-04 23:10] andr1976 opened #284 "Deleting streams and unit ops deletes random elements[Bug]"
**Describe the bug**
When deleting blocks of streams and unit ops, things which is not marked is deleted, and some things marked is not deleted

**To Reproduce**
See screen dumps and atttahced file

**Expected behavior**
Only marked things are deleted.

**Screenshots**
Before
![image](https://user-images.githubusercontent.com/58475535/152615062-05572f0c-bcf5-424e-8518-85d339b5fb6d.png)

Marking th

[2022-02-04 23:16] DanWBR commented on #283
@andr1976 If the streams don't have any kind of indirect connection information, this won't work. The solver doesn't check the specification blocks to determine the calculation order.

[2022-02-04 23:19] andr1976 commented on #283
Ok so the spec block is only called once? only more if the flowsheet solver iterates through one (or more times) ? Anyway I can just use a spreadsheet, - maybe a calculation order (priority) could be nice at some point.

[2022-02-04 23:20] andr1976 commented on #283
@DanWBR, ahhh, I guess I cant either? or?

[2022-02-04 23:21] DanWBR commented on #283
yes... I haven't touched it for many years already. When calculating a stream/unit op, the solver looks for an attached spec and then runs it, that's all.

[2022-02-04 23:22] DanWBR commented on #283
@andr1976 we can always do some work on it, if we find a good logic for these cases

[2022-02-04 23:29] andr1976 commented on #283
Seems to work with a spreadsheet - maybe this should be and enhancement instead

[2022-02-05 22:50] Jamesincolorado opened #285 "Mixer Failure [Bug]"
The mixer in the attachedd file fails due to a PR failure.

**Desktop (please complete the following information):**
 - OS: [Windows,]
 - Version [ v7.3.1]

[Mixer failure.zip](https://github.com/DanWBR/dwsim/files/8009074/Mixer.failure.zip)

[2022-02-07 13:10] andr1976 commented on #285
Hit F5 and solves fine in 7.3.1. on my PC
![image](https://user-images.githubusercontent.com/58475535/152794344-3b9dfaac-d769-481d-b7ac-58817626030e.png)

[2022-02-07 13:14] #281 closed, assigned to nobody

[2022-02-07 13:14] andr1976 commented on #278
I can confirm that this has fixed the issue

[2022-02-07 13:25] andr1976 commented on #269
I can confirm the issue, the case solves fine with any UNIFAC or NRTL model

[2022-02-07 13:35] #278 closed, assigned to nobody

[2022-02-07 14:16] DanWBR commented on #269
@PaalRT @andr1976  The problem in this case is that CoolProp returns a minimum temperature for this fluid equal to 173.15 K, but then when the saturation pressure is asked at 273.15 K, it says that the temperature is below the minimum value (273.something)...

[2022-02-07 15:05] DanWBR commented on #269
@andr1976 @PaalRT now it seems that we are left with a CoolProp bug, but I don't think that it is fixed or should be fixed anytime soon...

[2022-02-07 16:07] Jamesincolorado commented on #278
Fails on my PC.  Screenshots attached.
[mixer failure.zip](https://github.com/DanWBR/dwsim/files/8016786/mixer.failure.zip)

[2022-02-07 21:00] andr1976 commented on #141
Works for single component CO2 - Mixtures seems to be a pain still (DWSIM 7.3.2)

[2022-02-07 21:17] andr1976 commented on #269
@DanWBR . This is for the water outlet (hot out). It is due to water having a temperature below the freezing point. Setting MSTR-01 / -02 to steam tables PP makes this problem go away - now it is the cold out MSTR-03 which is the problem (see screen dump). I have a sense that it might be some of the HX iteratations which comes out of range for the CoolProp fluids. I tried calling the mixture from

[2022-02-07 21:19] DanWBR commented on #269
@andr1976 is this with https://github.com/DanWBR/dwsim/commit/0c0dca7dbc336922408ef8b10d01d911cfef5f58?

[2022-02-07 21:21] andr1976 commented on #269
No still using public release 7.3.2, Edit: ha ha,  I  mean 7.3.1 :-)

[2022-02-08 17:35] Jamesincolorado opened #286 "Global Heat Transfer[Bug]"
I have calculated the global heat transfer coefficient three ways and obtained three different answers:

1. Direct from program: 12 btu/h/ft2/F
2. Reciprocal of the summation of the inverse of individual heat transfers: 68 btu/h/ft/F
3. U=Q/A/DTLM: 17 btu/h/ft2/F

Which is correct? DWSIM file, screenshot and Excel calculation are zipped below.

[HEAT TRANSFER DISCREPANCY.zip](https://github.com/Da

[2022-02-08 17:53] DanWBR commented on #286
@Jamesincolorado correct is 1. 2 and 3 cannot currently be calculated because there are some confusion in the code and a LMTD correction factor that is not exposed.

[2022-02-08 17:57] Jamesincolorado commented on #286
Thanks for the quick reply. I thought 3 was correct because Q is known, A is known, and LMTD is a very simple calculation. How could 3 be wrong?

Is Q corrrect? A is certainly correct. I can calculate LMTD by hand.

[2022-02-08 17:59] DanWBR commented on #286
@Jamesincolorado 3 should be correct if you knew the value of the LMTD correction factor that is calculated internally, but not exposed... I'll fix this confusion. My original code was modified by someone else and it seems that things became a little messy here.

[2022-02-09 02:08] Jamesincolorado commented on #286
Just to complete the discussion, why was the inverse of the sum of 1/h so far off?

[2022-02-09 15:15] DanWBR commented on #286
@Jamesincolorado in the next version you'll see this. The calculations are correct, only the display of the parameters is that is currently confusing you.

<img width="423" alt="Captura de Tela 2022-02-09 às 11 13 40" src="https://user-images.githubusercontent.com/2669419/153230357-a6a38268-02e6-4576-a566-98a242baa28b.png">

[2022-02-09 15:15] #286 closed, assigned to nobody

[2022-02-11 10:44] pdenis13 opened #287 "[Bug] Conversion reactor"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

Same bug as #229, The mole balance is not correct.

**To Reproduce**
See attached simulation.

**Expected behavior**
Methane output is expected to be the same as input. Instead it is increasing.
Hydrogen should decrease, instead it is increasing.

**D

[2022-02-12 14:18] DanWBR commented on #287
Thank you for reporting this issue, @pdenis13 . I'll be releasing v7.3.2 with a fix very soon:

<img width="446" alt="Captura de Tela 2022-02-12 às 10 17 03" src="https://user-images.githubusercontent.com/2669419/153714922-68680b73-5302-4d66-9e99-2d0f34795f02.png">

[2022-02-13 14:19] #267 closed, assigned to nobody

[2022-02-13 14:19] #283 closed, assigned to nobody

[2022-02-13 14:20] #285 closed, assigned to nobody

[2022-02-13 14:21] #287 closed, assigned to nobody

[2022-02-13 16:45] Jamesincolorado opened #288 "Scrubber failure (reference bug 267) [Bug]"
The scrubber liquid composition is incorrect because it contains almost no water . There is a problem with PR calculations for water -- water is certainly heavier than the hydrocarbons. .Changing the thermo from vle to default causes a failure using both nested loops and Gibbs minimization. Screenshots and file attached.

[scrubber failure.zip](https://github.com/DanWBR/dwsim/files/8056097/scrubbe

[2022-02-13 18:37] DanWBR commented on #288
check this.

[scrubber failure.dwxmz.zip](https://github.com/DanWBR/dwsim/files/8056376/scrubber.failure.dwxmz.zip)

[2022-02-13 18:37] #288 closed, assigned to nobody

[2022-02-13 20:07] Jamesincolorado commented on #288
It solved, yes, but the solution is wrong. Water cannot exit the vapor stream at 50 F/148 psig. The PR EOS has a flaw with water. Even  with vle (i.e., not vlle) the water should leave with the liquid phase.

[2022-02-13 20:13] DanWBR commented on #288
@Jamesincolorado, the solution seems correct indeed. The water is at equilibrium, so some water must leave in the vapor phase.

Please, avoid registering such cases as bugs, as it makes me lose my valuable time every time I need to come here to check your stuff. If DWSIM doesn't work for you, just don't use it.

[2022-02-14 23:27] Shumb0 opened #290 "Switching between calculation types in Heat Exchanger fails to solve[Bug]"
Switching between calculation types in Heat Exchanger fails to solve.

This bug can be reproduced using a simple heat exchanger setup.

![image](https://user-images.githubusercontent.com/97127676/153963685-02219549-71d2-4386-b2bc-b3d141878e8f.png)

When setting the heat exchanger using "Specify Outlet Molar Vapor Fraction of Steam 2. a UA is calculated for a vap fraction of 1.
![image](https://use

[2022-02-15 21:01] Shumb0 commented on #290
I think the issue comes with the way the Heat Exchanger solves using UA. The results from Symmetry and Hysys solving the problem with no issue, but DWSim fails.

[2022-02-15 21:21] DanWBR commented on #290
I've just tested it here in v7.3.2 and it worked nicely.

<img width="1230" alt="Captura de Tela 2022-02-15 às 17 21 24" src="https://user-images.githubusercontent.com/2669419/154151299-cc00ab46-ca0a-4d5b-a1c8-b5a615caaf72.png">

[2022-02-15 21:37] Shumb0 commented on #290
Sorry about that Daniel. I uploaded the wrong file.
[HE Issue (2).zip](https://github.com/DanWBR/dwsim/files/8074885/HE.Issue.2.zip)

Hysys output.

![image](https://user-images.githubusercontent.com/97127676/154152962-6078f7d1-c273-4df3-8d5a-48082195a3f5.png)

Symmetry output.

![image](https://user-images.githubusercontent.com/97127676/154153427-9607ce4d-7869-4171-88e9-7b2387a010ba.png)

 DWSim

[2022-02-16 00:21] DanWBR commented on #290
@Shumb0 the UA calculation method was implemented by @Greg66 and seems to be applicable only for single-phase heat exchange. Maybe he can propose a solution for this error.

[2022-02-16 01:50] Shumb0 commented on #290
I have tested the Cape-open heat exchanger of COCO sim on DWSim but that leads to an inaccurate result as there is no segmentation in the heat exchanger. Hopefully Greg can share some insight/solution.

[2022-02-21 12:36] the-famous-eccles opened #292 "[Bug] Distillation curve characterisation"
There seem to be a couple of bugs in the Distillation Curve petroleum characterisation code related to integer division

In the mol. wt. calculation here...
https://github.com/DanWBR/dwsim/blob/windows/DWSIM.UI.Desktop.Editors/Compounds/DistCurves.cs#L565
and here...
https://github.com/DanWBR/dwsim/blob/windows/DWSIM.UI.Desktop.Editors/Compounds/DistCurves.cs#L569
the exponent (1.5 in the Riazi/Al

[2022-02-21 12:48] DanWBR commented on #292
@the-famous-eccles thanks!

[2022-02-21 13:02] the-famous-eccles commented on #292
No problem. Thanks for the quick fix. Hope to see the next release soon!

[2022-02-21 13:02] #292 closed, assigned to nobody

[2022-02-23 03:30] Shumb0 commented on #290
Hi Daniel,

Do you think the same issue would be in the Air cooler in the Pro version (don't own the pro version). I am currently trialing software for a large energy generator and we are trialing Symmetry and DWSim. The model is nearly complete on DWSim and will test the trial to compare results, but I am worried about the heat exchanger as we will be unable to use the sizing done for the Vaporiz

[2022-02-23 14:38] DanWBR commented on #290
@Shumb0 I've fixed the outlet temperature calculation modes in DWSIM. I've checked the Air Cooler code and it uses the same code for UA as in the regular heat exchanger.

I remember that the original code for this calc mode was mine, and then Gregor updated it to use the NTU method. I'll see if it is possible to revert it.

[2022-02-23 14:48] DanWBR commented on #290
@Shumb0 I was wrong, the original code is the same from Gregor...

[2022-02-23 14:49] Shumb0 commented on #290
oh no :(

[2022-02-23 14:50] DanWBR commented on #290
@Shumb0 maybe there is another way of calculating it... I will check but can't give you a deadline

[2022-02-23 14:53] Shumb0 commented on #290
I think even with UA calc, you will still need to segment the heat exchanger to capture the effects of phase change for accurate outlet temperatures. (Unless it is  already segemented)

[2022-02-25 12:25] Geron1mo38 opened #293 "[Bug] The valve model gives an insanely low outlet temperature"
The valve model gives me a very low outlet temperature with an inlet stream at 913.5 psig and outlet of 215 psig. If I subsitute a cooler with the same pressure drop and adjust the specified outlet temperature until I get a resulting zero heat duty then the result is much more reasonable ie +1.7 deg F vs -268 deg F.

System contains Nitrogen, CO2, Methane.V2,C3,Ic4,nc4,ic5,nc5,c6,c7,Octane through

[2022-02-28 19:42] Shachi14 opened #295 "Simulation fails for reactor using Automation on Python IDE"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
When trying to run a simulation with a reactor using Python IDE, the flowsheet solves with errors. I faced no issues with the same commands for other unit operations. If I open the saved simulation manually and click on SolveFlows

[2022-02-28 20:27] DanWBR commented on #295
The error is in line 439 of CSTR.vb:

https://github.com/DanWBR/dwsim/blob/2af32d076012fd2fe0ffded9b20b54c9c2e1aa21/DWSIM.UnitOperations/Reactors/CSTR.vb#L439

It means that either the Reaction ID is invalid or it was not added to the list of reactions in the Flowsheet.

[2022-03-01 00:44] leastcreativeusername opened #296 "[Bug] Inconsistent/unstable mixing/flashing behavior since v7.3.1"
**Describe the bug**
I have noticed this bug with a larger model which works fine in version v7.2.0, but that I have not been able to solve in versions later than v7.3.1 due to odd flash behavior in a specific VL separator. In v7.3.1 the VL separator flash failed after reaching T=-16 K, and in v7.3.2/v7.3.3 the entire feed vaporizes with the vapor outlet not in enthalpy balance with feed streams.

[2022-03-01 09:21] Shachi14 commented on #295
Yes, I believe my error was, I added the reaction to the list of reactions using the Name property and to the set of reactions using Reaction ID. Thank you!

[2022-03-01 09:21] #295 closed, assigned to nobody

[2022-03-01 20:13] DanWBR commented on #296
@leastcreativeusername could you please attach the simulation file? thanks

[2022-03-01 21:01] DanWBR commented on #296
@leastcreativeusername maybe this specific change is the reason? https://github.com/DanWBR/dwsim/commit/8d4b0845fcb95a2d0beab8d3856a3c9d569b05f4

Strangely, I got VF = 1 on the first runs, then after that, all solutions went to VF ~ 0.07.

[2022-03-02 09:06] leastcreativeusername commented on #296
Hi Dan, thanks for looking into this.

Apologies, should have thought to attach the simulation file in original post! Have attached the simulation for the initial post as "Bugged mixer - 20220228.zip".

[Bugged mixer - 20220228.zip](https://github.com/DanWBR/dwsim/files/8168177/Bugged.mixer.-.20220228.zip)

On further inspection it seems that there's more than two outcomes for this model. If you k

[2022-03-02 18:52] DanWBR commented on #296
@leastcreativeusername I've added a partial fix that solves the problem with the bugged valve. Ammonia is making everything much more difficult, DWSIM simply cannot find the bubble point of the mixture at 7.7 bar. It doesn't converge at all, even when using 3 different convergence methods...

[2022-03-02 18:52] DanWBR commented on #293
@Geron1mo38 could you please attach the simulation file?

[2022-03-06 14:24] #280 closed, assigned to nobody

[2022-03-06 14:25] #279 closed, assigned to nobody

[2022-03-06 14:26] DanWBR commented on #284
@andr1976 you have many objects with the same name, this is confusing DWSIM

[2022-03-06 14:30] andr1976 commented on #284
I see, one fix could be to not allow duplicate names/ automatically add an incremental number when copying streams - but maybe more a feature

[2022-03-06 14:47] DanWBR commented on #284
@andr1976 I took precautions in the latest version, as the objects are now named 1, 2, 3 and so on. When renaming an object, DWSIM will check if the name already exists.

[2022-03-19 10:07] #284 closed, assigned to nobody

[2022-03-26 15:27] jkittrell opened #307 "[Bug] MacUI / Distillation Column: 'Update Initial Estimates' Crash"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
Editing Distillation column variables crashes the application

**To Reproduce**
1. add distillation column to flow sheet
2. GoTo 'Initial Estimates' tab
3. click 'update estimates from current solution' button
4. System crashes, r

[2022-04-01 16:24] #296 closed, assigned to nobody

[2022-04-01 16:24] #293 closed, assigned to nobody

[2022-04-06 11:12] code-salt opened #312 "[Bug] May cause flash to fail if parallel is not available"
**Describe the bug**
dwsim-windows\DWSIM.Thermodynamics\FlashAlgorithms\BostonBrittInsideOut.vb  Row560 (Compared 540 541)
if EnableParallelProcessing is Flase, not calculate C and D
need add
C = DHv2
D = (DHv1 - C) / (T - Tref)’
in Row560-561    reference Row675 676

[2022-04-10 06:19] kookma opened #314 "[Bug] Wrong operating pressure for gas-liquid separator on datatip window"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
The operating pressure on gas-liquid separator is always displayed zero.  This is true both for calculated vessel pressure and the specified ones.

**Expected behavior**
The correct operating pressure shall be displayed

**Screens

[2022-04-10 14:28] DanWBR commented on #314
@kookma these are dynamic-mode properties. did you enable dynamic mode or selected these properties explicitly?

[2022-04-10 17:47] kookma commented on #314
No, I have not! Are these activated/selected by default? How can I disable them in steady - state mode?

[2022-04-10 17:48] DanWBR commented on #314
@kookma they should only be visible if dynamic mode is activated.

[2022-04-10 17:50] kookma commented on #314
I check this again and will inform you!

[2022-04-10 18:01] kookma commented on #314
Daniel,
I checked again (Win10/DWSIM7.5.1).

*  I opened the dynamic manager panel, it is not active
* I checked from DWSIM menu bar, Dynamics and made sure the `Dynamic Mode Active` is not checked

Now again I hovered mouse over the separator and still I see operation pressure 0 in the data tip window.

[2022-04-28 13:24] nilsenmd opened #316 "Compound Creator [Bug]"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
There is a write error when exporting a created compound to a JSON file.

**To Reproduce**
1. Create a compound in CompoundCreator
2. Click the "View Compound" button in the lower right corner
3. In the pop up window, click the "E

[2022-04-29 12:29] DanWBR commented on #316
this issue was fixed in https://github.com/DanWBR/dwsim/commit/1cb18c22547c16dff25678f0617f85ec47d6b894

next release will work as expected.

[2022-04-29 12:29] #316 closed, assigned to nobody

[2022-04-29 12:29] #307 closed, assigned to nobody

[2022-04-29 12:30] #312 closed, assigned to nobody

[2022-04-29 12:30] #314 closed, assigned to nobody

[2022-04-29 15:16] smkanadl opened #317 "[Enhancement] Libraries should target netstandard2.0 to be more versatile"
**Is your feature request related to a problem? Please describe.**
dwsim.org describes 'Standalone Thermo' as one of the use-cases of DWSIM. Due to the nature of the binaries being compiled for .NET 4.6.2, the usage is restricted to projects targeting the 'full' framework.

**Describe the solution you'd like**
As a solution, one would typically try to target either netstandard2.0 or multi-target f

[2022-04-29 17:43] DanWBR commented on #317
@smkanadl it is not so simple to do that given the current structure of the thermodynamics library and its dependencies (i.e. windows forms). Actually, I do have a netstandard version of the library (heavily modified, by the way) which I use in the mobile versions of DWSIM, but it is not free/open-source.

[2022-04-29 18:22] smkanadl commented on #317
@DanWBR thanks for the quick response. I am aware of the implications with such a request and that it is nothing to be expected in near future.

For my potential use-case, I would not need any UI related bits but mostly the phase equilibrium/ PT flash routines. As you mentioned the netstandard version of the library is not available as open source, what would the way to get hold of it? At least fo

[2022-04-29 18:26] DanWBR commented on #317
@smkanadl I call it "PortableDTL", and as I've mentioned before, it is used in DWSIM for Android and iOS, which are freemium apps. Making the library portable was a huge work that I was able to accomplish years ago. It is not head-to-head with the thermo library for DWSIM for desktop, there are some parts that were not updated, i.e. the flash algorithm structure.

[2022-04-29 19:25] kookma commented on #314
Thank you Daniel.

[2022-04-30 18:26] smkanadl commented on #317
@DanWBR that's unfortunate as the flash algorithms are exactly the ones I would need.

[2022-05-09 17:36] FrankRBrownIII commented on #237
While you are fixing the Pump Calculations, look at the flowsheet object rotation and inversion properties.  I've had a he.. of a time (er difficult time) getting the streams reconnected to the pump on the flowsheet when I reverse directions, such as called for on a recycle.

[2022-05-09 18:11] DanWBR commented on #237
@FrankRBrownIII could you please elaborate on that with some screenshots?

[2022-05-09 19:37] FrankRBrownIII commented on #237
Forget it (the comment) I just tried it and it works perfectly.  I used the Invert Horizontally, not the rotate (180) which works great on streams.
This seems to be another case of my leaping before looking.

[2022-05-11 08:11] andr1976 opened #318 "[Bug] Error opening old file in 7.5.5"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
Error occurs opening file working in previous version of DWSIM (7+) something)

**To Reproduce**
Open file

**Expected behavior**
File opens without error

**Screenshots**
![image](https://user-images.githubusercontent.com/5847553

[2022-05-14 11:50] #245 closed, assigned to nobody

[2022-05-17 16:14] Greg66 opened #319 "[Bug] Error loading Compound Creator study"
**Describe the bug**
Loading a Compound Creator Study (.dwcsd2) will issue an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new study and save it
2. Load Study
4. See error

**Expected behavior**
No Error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Windwos
 - Version 7.5.5

**

[2022-05-17 17:16] DanWBR commented on #319
@Greg66 your file might be corrupted, can you open it with a text editor and check? I've fixed the corruption source, anyway.

[2022-05-17 19:13] Greg66 commented on #319
Thanks! Great, that works now :-)
As you noted, the file was corrupted.

Gregor

[2022-05-17 19:13] #319 closed, assigned to nobody

[2022-05-18 17:05] #318 closed, assigned to nobody

[2022-05-19 09:49] sesepsianturi opened #321 "[Bug] There is no initial flowsheet state in DWSim 7.5.5 at the above panel"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description

[2022-05-23 08:01] msakai opened #322 "Suspicious branch in Valve.vb"
I'm suspicious about this conditional branch:

https://github.com/DanWBR/dwsim/blob/11d3f14fab66f908240d0a4418eeb57f36ac0876/DWSIM.UnitOperations/UnitOperations/Valve.vb#L827-L866

If the `CalcMode`  is `CalculationMode.Kv_Steam` then the first condition `CalcMode <> CalculationMode.DeltaP And CalcMode <> CalculationMode.OutletPressure` holds so that the control flow goes into the `Then` block and

[2022-05-23 15:16] DanWBR commented on #322
@msakai when I first read your message just after waking up, I thought that DWSIM had a virus or something like that. :)

[2022-05-25 20:57] AlbertEmil opened #326 "Distillation column: reboiler pressure does not match column pressure"
I tried to simulate a distillation column operated at 100 mbar and specified the pressure for both the distillation column and its feed stream. However, the reboiler pressure does not seem to be adjusted to the specified value and remains at the default value of 1013.25 mbar.

![Screenshot](https://user-images.githubusercontent.com/14151027/170365754-c8ca22ee-c448-4c1b-a6fb-d32e3fc8d0fd.png)

As I

[2022-05-25 21:04] #326 closed, assigned to nobody

[2022-05-25 21:05] AlbertEmil commented on #326
I did miss to specify the column pressure drop. `NaN` does not seem to be evaluated as `0`. So there was definitely an error on my side.

[2022-05-25 21:24] DanWBR commented on #326
@AlbertEmil I've left the pressure drop as NaN to preserve pressure profiles in older simulations. Profiles on new simulations should be defined with top pressure and pressure drop.

[2022-05-26 00:37] AlbertEmil commented on #326
Thanks for the clarification and legacy background info.

[2022-05-26 17:48] AlbertEmil opened #327 "[Bug] Some column properties are not updated if set from Automation2 interface"
Setting `DistillationColumn.NumberOfStages` or `DistillationColumn.CondenserPressureDrop` via `Automation2` interface from Python does not update available column stages.

The following (pseudo-)code can be used to reproduce the faulty behaviour:

[code]

I might miss something like an `update()` method to apply the changed values to the `column` object. However, setting the `CondenserPressure` pr

[2022-05-26 18:42] DanWBR commented on #327
@AlbertEmil you must use **SetNumberOfStages()**:

https://github.com/DanWBR/dwsim/blob/d677a640390a95c2807e51f96621d0e7e1671e21/DWSIM.UnitOperations/UnitOperations/RigorousColumn.vb#L1870-L1910

[2022-05-26 19:11] AlbertEmil commented on #327
Thanks. That fixed the problem. Specifying the `ColumnPressureDrop` did not work due to a typo in my code.

[2022-05-26 19:11] #327 closed, assigned to nobody

[2022-05-26 22:18] hdavid16 opened #328 "Compound search bar in settings not working properly"
Tried searching by name and it sometimes works, but not always, even when the component is in the list.
Search by CAS number fails.
version 7.5.5 (Windows 10)

[2022-05-30 21:40] hdavid16 opened #329 "Bulk copy+paste stream mole fractions from the spreadsheet tab or from excel"
I would like to create a stream and copy paste the compositions for each component in bulk. However, this fails and I can only paste one by one

[2022-05-31 15:16] andr1976 opened #330 "[Bug] When trying to include other flowsheet as user model"
**Describe the bug**
When trying to include a completed flowsheet (Cavetts problem from samples, but occurs for any model)model as a user model in dwsim an unhandled exception occurs when trying to view the flowsheet.

The following exception occurs:

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/58475535/171208463-a463cd58-e37e-41e2-a881-d5489e9b17ed.png)

**Desktop (

[2022-05-31 17:39] DanWBR commented on #330
@andr1976 did you initialize the flowsheet in the control panel before trying to view it? Initialization actually loads the flowsheet from the file

[2022-05-31 21:12] andr1976 commented on #330
No, I didn't :-) it is not 100% intuitive. I initialised, but still getting an occasional unhandled exception. I will try harder.

[2022-05-31 21:20] andr1976 commented on #330
Made Cavetts problem work by using the same components in the master sheet as in the loaded file (subflowsheet), and carefully connected inlet/outlet ports and mapped the inlets and outlets before trying to view it.
Ok, so part of the problem with Cavetts problem might be the components not being easily mapped from say CO2 (DWSIM) to DioxidoDeCarbano (no CAS no).

[2022-05-31 22:05] DanWBR commented on #330
@andr1976 you're absolutely right, it is not intuitive at all. Also, Cavett's problem flowsheet was created with compounds from the original database, where the names were still in portuguese. DWSIM automatically maps compounds when they have the same name.

[2022-06-09 05:37] kookma commented on #274
Hi Daniel,
 Do you think this issue should be closed? Please do that

[2022-06-09 05:45] kookma commented on #167
With the release of 7.5.6, now DWSIM  is more powerful than ever in simulating tubular reactor.
Now if this enhancement is implemented, you can use DWSIM to simulate multi-reactions multi-components tubular reactor in below modes

1. isothermal operation
2. adiabatic operation
3. nonadiabatic -nonisothermal operation

I would be happy to help in future release to add details for shell side, so you

[2022-06-09 12:14] #274 closed, assigned to nobody

[2022-06-09 12:16] DanWBR commented on #167
@kookma I can prioritize this if you or someone from your team become a Sponsor: https://github.com/sponsors/DanWBR

[2022-06-09 12:18] DanWBR commented on #321
closing due to the lack of information and not following the issue description rules.

[2022-06-09 12:18] #321 closed, assigned to nobody

[2022-06-09 12:19] DanWBR commented on #317
@smkanadl I have a .NET 6 version of DWSIM ready to release, but I set this as a target for GitHub sponsoring: https://github.com/sponsors/DanWBR

[2022-06-09 12:19] #322 closed, assigned to nobody

[2022-06-09 12:19] #330 closed, assigned to nobody

[2022-06-09 12:19] #290 closed, assigned to nobody

[2022-06-09 12:21] DanWBR commented on #259
@einhander the current DWSIM version can't be compiled on Linux, but I'm working on a new GUI-less version of DWSIM that targets .NET 6 which should compile on all supported platforms. I've tested it on Windows only, so far.

[2022-06-09 12:21] #269 closed, assigned to nobody

[2022-06-09 12:22] #329 closed, assigned to nobody

[2022-06-09 12:24] einhander commented on #259
@DanWBR let me know, then prototype will be available. I can test it.

[2022-06-09 12:25] DanWBR commented on #259
@einhander it is already available for sponsors/patrons: https://github.com/sponsors/DanWBR

[2022-06-09 12:46] einhander commented on #259
@DanWBR so I need to pay to find bugs in dwsim?;)

[2022-06-09 12:50] DanWBR commented on #259
@einhander no, you don't. But if you want _early_ access to the .NET 6 prototype, then yes, you do.

[2022-06-09 12:52] einhander commented on #259
@DanWBR thanks for clarification.

[2022-06-09 12:53] DanWBR commented on #259
@einhander the .NET 6 version is not public yet. It is just another DWSIM project of many that I have that are not open source yet. I have other private DWSIM repositories that are available for sponsors.

[2022-06-09 12:55] DanWBR commented on #259
@einhander just to be clear, I am not and I've never asked anyone to pay to find bugs in DWSIM, ok?

[2022-06-09 13:25] einhander commented on #259
@DanWBR Ok, no problems. Just let me know if you need to test your open source projects on linux. Dwsim is a great software and I want to help it to be even more better.

[2022-06-09 15:41] smkanadl commented on #317
@DanWBR thank you very much for providing the information. I will talk to the project management and check if GitHub sponsoring is something we could do (With respect to company policies and stuff like that).

I assume that the 25$ tier would already give us access to the .NET 6 version (per the private repository DWSIM Core). Is that correct?

[2022-06-09 16:29] kookma commented on #167
Well sure! I send you some details through email!
I would also be happy to help during development and test.

[2022-06-19 19:33] andr1976 opened #333 "[Bug] PVF / dew point calculation error"
**Describe the bug**
Dewpoint calculation fails for the PVF flash for PR, SRK, GERG etc

**Expected behavior**
Identify dew point temperature of -11 / -12 C'ish at 40 barg

**Desktop (please complete the following information):**
 - OS: [e.g. Windows]
 - Version [e.g. v8.0.0]

**Additional context**
See attached file
[dewpoint_error.zip](https://github.com/DanWBR/dwsim/files/8936255/dewpoint_error

[2022-06-22 20:10] DanWBR commented on #328
@hdavid16 only name search is enabled now.

[2022-06-22 20:15] hdavid16 commented on #328
Don't you want to leave this open as a future feature request (search by CAS)?

[2022-06-22 20:23] DanWBR commented on #333
@andr1976 does it fails due to an error or wrong temperature value? just to be sure

[2022-06-22 20:35] DanWBR commented on #333
@andr1976 initial estimates are close to the trivial solution. the algorithm conditions are satisfied in the end, even with the wrong temperature. do you have any suggestion?

[2022-06-22 20:36] DanWBR commented on #328
@hdavid16 I'm so tired. sorry.

[2022-06-22 20:57] hdavid16 commented on #328
I bet. You seem to be working over the clock! Thanks for the great work.

[2022-06-22 21:28] andr1976 commented on #333
The calculation runs but returns a temperature which is not the dew point at the specified pressure. Far from.  Things start to go sideways above 30'something bar.

[2022-06-22 21:29] andr1976 opened #336 "[Bug] Unhandled exception starting v8.0.2"
System.InvalidOperationException: An error occurred creating the form. See Exception.InnerException for details.  The error is: Culture is not supported.
Parameter name: culture
3072 (0x0c00) is an invalid culture identifier. ---> System.Globalization.CultureNotFoundException: Culture is not supported.
Parameter name: culture
3072 (0x0c00) is an invalid culture identifier.
   at System.Globalizati

[2022-06-22 21:47] andr1976 commented on #336
Hmm, seems my IT department messed around with my regional settings and that somehow caused it

[2022-06-22 22:06] andr1976 commented on #333
![image](https://user-images.githubusercontent.com/58475535/175160355-d512fef3-acb8-419e-810a-2466da1cd168.png)

![image](https://user-images.githubusercontent.com/58475535/175160483-3dd84549-f9af-424a-9ba3-f9661df50d2d.png)

[2022-06-22 22:08] andr1976 commented on #333
Ok one is with SRK but the same applies with PR. There is apparently a regression in the stability of the PVF/TVF algorithm

[2022-06-23 01:41] hdavid16 commented on #328
As a side note, I just tested v8 and am still seeing issues searching for compounds. I'm on Windows. I successfully searched for an added Carbon Monoxide and Hydrogen. Then I searched for "carbon dioxide" and it did not find it. I manually scrolled down until I found carbon dioxide.

I was then able to search for some alkanes without issue afterward. I notice that the search is more reliable now o

[2022-06-23 03:13] hdavid16 commented on #336
I'm not seeing this issue when starting up on v8.0.2 (Windows desktop version)

[2022-06-23 03:30] hdavid16 opened #337 "[Bug] Insert master property table error on v8.0.2"
I get this error when trying to add a master property table:
[code]
I am able to add property tables successfully, just not the master one...

[2022-06-23 04:02] hdavid16 opened #338 "[Bug] Cannot scroll on calculated stream compounds"
I have a calculated stream with many materials listed. However, I can only see the first few. The scroll bar is greyed out:

![image](https://user-images.githubusercontent.com/9156129/175206493-b88a376b-18b3-4726-96ad-b15ccc4c03dc.png)

DWSIM 8.0.2 (Windows Classic UI)

[2022-06-23 04:03] hdavid16 commented on #338
Nevermind, I see I can scroll on the results tab instead.

[2022-06-23 04:03] #338 closed, assigned to nobody

[2022-06-23 06:49] #336 closed, assigned to nobody

[2022-06-23 22:34] DanWBR commented on #337
@hdavid16 How do I reproduce this? can you attach the file?

[2022-06-23 22:39] DanWBR commented on #328
@hdavid16 maybe you could record a video because I can't reproduce this issue... it just works for me.

[2022-06-23 22:42] #337 closed, assigned to nobody

[2022-06-25 20:24] hdavid16 opened #343 "[Bug] Reboiled Absorber Input Error"
DWSIM v8.0.2
Windows OS

When I try to setup a distillation column block with no condenser (reboiled absorber), I have the following connections:

- Feed stream (input material stream)
- Overhead vapor (output material stream)
- Bottoms (output material stream)
- Reboiler Duty (input energy stream)

I cannot run this column as I get an error that says that there are connections missing. What am I

[2022-06-25 20:27] DanWBR commented on #343
@hdavid16 you need to connect these streams anyway.

[2022-06-25 20:28] hdavid16 commented on #343
Ok, I just created a dummy stream for the distillate and condenser duty and the error goes away.

[2022-06-25 20:31] DanWBR commented on #343
@hdavid16 I need to revisit these connection checks...

[2022-06-28 00:37] hdavid16 opened #344 "Recalculate performance?"
Hi @DanWBR, when I right-click on a block and click Recalculate, will it just recalculate that block and anything downstream?

I am puzzled why recalculate is lagging so much (on the order of several minutes) on my v8.0.3 installation even for simple stream splitters or component separators with nothing downstream. Any thoughts?

I've tried disabling upstream blocks, adding parallel calculation mo

[2022-06-28 02:15] hdavid16 commented on #344
Nevermind. Seems like an issue with the file. I have another file where this lag doesn't occur. Any thoughts how to fix file issues (maybe corrupt file?) that doesn't require rebuilding the whole simulation?

[2022-06-28 18:00] hdavid16 opened #345 "[Bug] Distillation column pressure drop units"
The pressure drop section in the distillation column does not reflect the selected pressure units, nor does it let one change the unit of measurement. See below where I am using psig for the rest of the simulation, but the pressure drop is fixed to bar and is greyed out so that I cannot change it:

![image](https://user-images.githubusercontent.com/9156129/176251034-dca759f6-49e1-4b30-8adf-c65ad26

[2022-06-28 18:25] DanWBR commented on #345
@hdavid16 these boxes are only for indication. pressure drop has a different designation in the system of units - it doesn't use the same units as pressure.

[2022-06-28 18:25] #345 closed, assigned to nobody

[2022-06-28 18:28] hdavid16 commented on #345
They don't seem to be for indication. I specify values there to set the condenser and reboiler pressures. What I ended up doing is converting 10 psi to bar by hand and putting in the value in the Column Pressure Drop box. So I think the user should be able to select the units from the drop down.

[2022-06-28 18:32] DanWBR commented on #345
@hdavid16 they do are for indication only - I didn't implement the function to change the units by changing the combobox values, which is why they are disabled.

As I wrote before, the units for pressure drop are different:

<img width="886" alt="Captura de Tela 2022-06-28 às 14 30 49" src="https://user-images.githubusercontent.com/2669419/176256690-9b19a8a1-248e-4fb2-8792-56e711b707b2.png">

not

[2022-06-28 18:34] DanWBR commented on #343
fixed in https://github.com/DanWBR/dwsim/commit/1103a3144734b7e1f20071aae98503a5e62daf35

[2022-06-28 18:34] #343 closed, assigned to nobody

[2022-06-28 18:34] DanWBR commented on #333
@andr1976 did you check this with latest code?

[2022-06-28 18:56] hdavid16 commented on #345
Ahh got it. Thanks!

[2022-06-28 21:33] andr1976 commented on #333
Sorry, no haven’t had time yet

tir. 28. jun. 2022 kl. 20.34 skrev Daniel Wagner ***@***.***>:

[2022-06-28 23:47] WillyLund opened #346 "[Bug] PEM Fuel Cell"
The new Pem Fuel Cell UO creates negative compositions in the exit stream.  Easy to reproduce by over specifying the fuel cell capability vs the feed stream.  Please advise if a sample simulation file would be needed.

P.S. Thank you for the entry into renewables, this is my working domain for the past 3 years.  Hope you can find a chance to visit our website carbon280.com.  We have a very novel l

[2022-06-29 00:25] DanWBR commented on #346
@WillyLund thank you for reporting this issue. I should have added a check for negative molar flows. Will do it tomorrow. 🙂👍🏻

[2022-06-29 12:55] andr1976 commented on #333
@DanWBR , yes dew point is fine now, but the bubl-point is messed up now above 44-46 bar depending on EOS. I also think the critical point is way off. Above this pressure bubl point temperature suddenly jumps from -76 C to -10 C

[2022-06-29 12:56] andr1976 commented on #333
This is the envelope expected
![image](https://user-images.githubusercontent.com/58475535/176441439-aecbe9ae-2224-4ea2-ae87-927fac6441c7.png)

[2022-06-29 13:11] DanWBR commented on #333
@andr1976 the critical point is the reference to stop calculating dew and bubble points... it is very far from the correct one in this specific case

[2022-06-29 13:37] andr1976 commented on #333
Yes, I see. Thing is, this is natural gas (although a little to the heavy side), so this is something that could potentially be encountered quite often

[2022-06-29 14:20] DanWBR commented on #333
This looks better (PR). SRK still fails to calculate the correct critical point. GERG will need a new algorithm as I don't have a general procedure to calculate critical points - only PR and SRK for now.

![image](https://user-images.githubusercontent.com/2669419/176459800-43f6ee07-be1c-4a08-8814-2a9883cf7260.png)

[2022-06-29 14:21] DanWBR commented on #333
the chart title is wrong - it was calculated with PR.

[2022-06-29 21:15] andr1976 commented on #333
Looks way better now - I think PP is somehow defaulting to the last PP available, for the title, not for the calcs

[2022-06-30 09:28] andr1976 commented on #333
Could be nice to have Ian Bell on-board to do the critical point calculation method :-)
https://www.nist.gov/publications/calculation-critical-points-helmholtz-energy-explicit-mixture-models

[2022-06-30 11:43] DanWBR commented on #333
@andr1976 I have an implementation of this method for quite some time already, but I've let it aside as it is slow and was not working. I'm revisiting it to see if I can get it working.

[2022-06-30 12:08] ssldkwork opened #347 "Call functions through Excel VBA"
**How to call a function through Excel VBA?**
For example I can call "CalcProp" function through Excel Worksheets, but can not call the same function in VBA. Is there any solution for?

[2022-06-30 14:23] DanWBR commented on #333
SRK:

![image](https://user-images.githubusercontent.com/2669419/176702031-6208d18a-38f1-4f94-b7af-88c8c40afcc7.png)

[2022-07-05 15:49] kookma opened #349 "[Bug] Weather toolbar at the bottom of flowsheet: UI elements get disordered - Allow Hide"
IMPORTANT: This section is for code-related bugs. For usage issues, please go to the [Support Forums](https://sourceforge.net/p/dwsim/discussion/).

**Describe the bug**
In DWSIM 8.0.3 (I see this from 8), the Weather toolbar on opening the left side info panel gets disordered and some UI elements overlap eachother.

**Expected behavior**
1. allow user to hide them, when they are not in use
2. on

[2022-07-12 10:45] guidoc66 opened #350 "[Bug] DWSIM : pressure changers efficiencies not adjustable"
When using a pressure changer such as Turbine or Compressor, both the adiabatic and the isoentropic efficiencies are set to 75% by default but you can change them within the range 0-100%. The problem is that when you run the simulation, the efficiency is automatically changed to the default value (75%) before the calcs are performed. As a consequence there is no way to change the efficiencies of t

[2022-07-17 01:04] WillyLund commented on #350
I am not seeing the issue with the compressor using version 8.03

[2022-07-17 01:18] WillyLund opened #351 "[Enhancement] Component Text Substring Search Different in V8 (8.0.3 Specifically)"
Hello Daniel,

In V8.0.3, sub-string text searches are no longer working when adding a component.  I validated that V7.5.0 did work.

Example:  Search for "Butane"  It will not be found in V8.0.3 whereas 7.5.0 will return both N-Butane, isoButane and about 40 other compounds containing ..butane....  It appears component searches require exact syntax.

Thanks.

[2022-07-17 12:59] DanWBR commented on #350
@guidoc66, you must press ENTER after changing the value.

[2022-07-17 13:00] DanWBR commented on #350
Except if you're on macOS or Linux, where the values are updated as you type them.

[2022-07-18 07:56] guidoc66 commented on #350
wow..it works! sorry for disturbing you fo so silly problem. Shame on me!

[2022-07-18 17:12] hdavid16 opened #352 "[Bug] Wizard to Import a compound from Online source is buggy"
When trying to import a compound from online sources, the following is observed:

1. The wizard starts on Step 3
2. You have to click Next and the wizard will move to Step 2
3. You have to click Back to actually go to Step 1 and search for the compound

Also, the next buttons often are greyed out and you have to use Enter on the keyboard to move forward.

[2022-07-18 17:14] DanWBR commented on #352
@hdavid16 windows or linux/mac?

[2022-07-18 17:16] hdavid16 commented on #352
Windows OS
DWSIM 8.0.3

I am seeing this behavior on 2 different machines.

[2022-07-18 17:39] #344 closed, assigned to nobody

[2022-07-18 17:46] hdavid16 commented on #350
@DanWBR or @guidoc66 can you close the issue if it has been resolved?

[2022-07-18 18:19] #350 closed, assigned to nobody

[2022-07-18 18:19] DanWBR commented on #349
@kookma will be fixed in the next release, thanks!

[2022-07-19 15:41] kugelpunk opened #353 "Compile (build) instructions unclear"
Is it still irrelevant which project is used as the starting point? I get dozens of unresolved dependencies/imports either way.
https://github.com/DanWBR/dwsim/blob/windows/README.md#L87

[2022-07-19 15:48] DanWBR commented on #353
@kugelpunk did you restore all nuget packages?

[2022-07-19 15:59] kugelpunk commented on #353
no, that I was not aware of...

[2022-07-19 16:03] DanWBR commented on #353
@kugelpunk it should be an automatic step on VS 2019 and 2022.

[2022-07-19 16:06] kugelpunk commented on #353
OK thanks, I will check the log.

[2022-07-19 20:28] kugelpunk commented on #353
I am using VS 2019, but I see they are partly out of date. I think a lock file to pin the nuget package versions is not used, so I will try to restore them using the nuget internal mechanism (`PackageReference` I believe.).

[2022-07-19 21:04] kugelpunk commented on #353
I think I am not getting from which entry point to build the entire DWSIM binary for Windows x64 for Debug purpose. The readme recommends to use either of the projects (s.a.). Then, there is also the `DWSIM.sln`, which seems the natural starting point. (I will try again, once my packages are updated, but I have a slow connection and wanted to ask this ahead once more.)

[2022-07-19 21:07] DanWBR commented on #353
@kugelpunk I don't recommend updating any package. Open DWSIM.sln, then select the solution, click on "Restore NuGet Packages"... wait for it to finish, then change the build configuration to Debug/x64 or DebugNoNPM/x64, DWSIM.exe as starting point and then build it.

[2022-07-19 21:08] DanWBR commented on #353
@kugelpunk restoring nuget packages is a common task when working with .NET projects in VS.

[2022-07-20 05:45] kugelpunk commented on #353
OK, I did `Restore NuGet Packages` on the `DWSIM.sln` and got
[code]
However, building to Debug/x64 fails with 75 missing file errors like:\
`could not find library 'C:\Users\Ben\source\repos\DWSIM\DWSIM.Thermodynamics\bin\Debug\DWSIM.Thermodynamics.dll'`

`Metadata file 'C:\Users\Ben\source\repos\DWSIM\DWSIM.FlowsheetBase\bin\Debug\DWSIM.FlowsheetBase.dll' could not be found`

I have installed No

[2022-07-20 10:13] SeifEdI commented on #352
The same problem 👍
DWSIM version : 8.0.3
OS : windows 10 Pro. Version 10.0.10240.0, Win32NT PLatform

CLR info : .NET Framework (CLR v4.0.30319342000)
CPU Info : Intel64 Family 6 Model 60

[2022-07-20 15:51] DanWBR commented on #353
@kugelpunk to solve this issue, you must clone the repository (https://github.com/DanWBR/dwsim) directly from Visual Studio as FoodProp.xml is part of another project.

[2022-07-20 15:54] DanWBR commented on #347
Excel VBA is not supported, but you can try it as described in https://dwsim.org/wiki/index.php?title=DTL

Afetr registering the type library, it should become available on the VBA editor if you import it

[2022-07-20 16:03] kugelpunk commented on #353
Thanks, and would I need to copy the DLL files somewhere?
I'll try either way, thanks.

[2022-07-20 17:55] hdavid16 commented on #329
Hi @DanWBR,

I would like to reopen this issue as a Bug or at least an Enhancement. I have an Excel file with the components (in the same order as the Compound Amounts tab on a Material Stream in my simulation) and their corresponding mass fractions. I want to copy and past the mass fractions over to the Material Stream in my simulation rather than entering them one by one. When I do this, I have

[2022-07-20 18:33] DanWBR commented on #329
@hdavid16 did you try copying only the values? you should not copy and paste the compound names as the first column is read-only.

[2022-07-20 18:40] hdavid16 commented on #329
I tried copying only the values over to the editable column and it actually copies them over to the name column:

![image](https://user-images.githubusercontent.com/9156129/180057833-b2741645-45bd-466a-903c-5cecf08376ba.png)

My current workarround is to use Excel to generate python code which I then copy over to the Python console to set the stream composition in DWSIM:

![image](https://user-ima

[2022-07-20 19:12] hdavid16 opened #354 "[Bug] Compound JSON not importing Viscosity Equation"
I have used the Compound Creator Wizard to create 1-tridecene. I noticed that after loading the resulting JSON, I am getting an error that the liquid viscosity is infinite for 1-tridecene.

I did the following:

1. I looked up the liquid viscosity data online and did a regression in Excel to get the equation: `1.0442*Exp(-0.022016*T)`.
2. I put this equation into step 5 of the compound creator wiz

[2022-07-20 19:23] DanWBR commented on #329
@hdavid16 select the first cell in the Amount column, then Ctrl+V.

[2022-07-20 19:26] DanWBR commented on #354
@hdavid16 please attach the JSON file if possible.

As a general request for new issue reports that you may eventually create, please attach all related files if possible. They help a lot and sometimes I can't do anything without them.

[2022-07-20 19:42] hdavid16 commented on #354
The JSON portion related to the liquid viscosity shows up as:
[code]

Note: I have done the regression with T in K and viscosity in Pa*s as indicated in the Wizard.

Sorry for not providing the necessary information.

[2022-07-20 19:55] hdavid16 commented on #354
Ok, I had to:

1. untick the 1-Tridecene from the compound list in my simulation
2. close and reopen the simulation file
3. reload the JSON file

After doing this, the viscosity correlation is loading correctly.

Conclusion: In my opinion, the bug is that when a JSON file is loaded to import a component and that component exists, a popup shows up asking if the user wants to update the component da

[2022-07-21 03:48] hdavid16 commented on #354
@DanWBR Thanks for putting together the commit! Feel free to close the issue if it has been fixed.

[2022-07-21 03:49] hdavid16 commented on #329
That is what I did and got the behavior in the last screenshots.

[2022-07-21 03:53] hdavid16 commented on #352
@DanWBR did the commit referenced fix the issue? If so, feel free to close it.

[2022-07-21 13:32] hdavid16 opened #356 "[Bug] Reaction Set Editor Sequence"
When adding more than 1 reaction to a reaction set, the `Seq.` column for the reactions is set to 0 by default. I think the sequence should be increased by 1 unit by default. Otherwise, if more than 1 reaction has the same sequence number, only the last one defined will be used.

So either:
1. the program should still take both reactions even if their sequence is set to 0, or
2. the program should

[2022-07-21 13:38] DanWBR commented on #356
@hdavid16 this is not the intended behavior. all reaction indexes default to 0 so they are considered parallel reactions.

[2022-07-21 13:39] DanWBR commented on #356
@hdavid16 and this is not a bug.

[2022-07-21 16:06] hdavid16 commented on #356
@DanWBR, then assuming they are being considered in parallel, there might be a bug in the reporting of the conversions: the conversions in the `Conversions` tab only show the materials in the second reaction, not the first reaction.

![image](https://user-images.githubusercontent.com/9156129/180261496-65cf446f-8be2-4a4f-a198-6a6ae20727a7.png)

[2022-07-21 16:10] DanWBR commented on #356
@hdavid16 only positive conversions will be shown in this table, that is, compounds that were consumed after all reactions have been considered.

[2022-07-21 16:11] DanWBR commented on #356
@hdavid16 I'll check the code anyway. Thanks

[2022-07-21 16:13] hdavid16 commented on #356
So the second tab in the Results pane (`Reactions`) shows a positive conversion for both reactions, but the conversions for the components in the first reaction are not shown. So maybe just a display issue...

Thanks!

[2022-07-21 16:50] hdavid16 commented on #356
@DanWBR Ok, so I'm not seeing this behavior on a different simulation. Perhaps it's an isolated event. I'll send you the file below in case you are curious. **If you don't want to bother with this, feel free to close this issue**.

There is clearly a sequential reaction mechanism in the file below:

1. C31-C34 + H2 => C18-C30 (Hydrocracking4)
2. C18-C30 + H2 => C3-C17 (HydrocrackingMain)

If I set

[2022-07-22 08:52] kugelpunk commented on #353
Hi @DanWBR , thanks for clarifying the `readme.md` with https://github.com/DanWBR/dwsim/commit/2298597e890fb2e8f9a6cc7fd85b4d71101fab27. However, as of now it only builds once after cloning : /

[2022-07-22 14:32] hdavid16 commented on #353
Hi @DanWBR and @kugelpunk,

Could you help define the steps to build DWSIM for someone who has never used Visual Studio?

I have installed Visual Studio 2022 and Node.js. I then cloned the DWSIM GitHub repo into Visual Studio. I don't know where to go from there...
I'm not sure what is meant by changing the build target and the steps that come after that in the README.

Thanks,

[2022-07-22 14:51] kugelpunk commented on #353
I was in the same situation. Yes, we might better stress the terms found in the VS (context) menu... I will  propose something.

If you build for yourself on Windows, you probably want to compile for debug purpose, so the target is a debug binary placed in a dedicated directory. And if you have a modern PC you go for 64 bit architecture. These things are set in the build configuration. I also have

[2022-07-22 15:03] DanWBR commented on #353
@kugelpunk @hdavid16 apart from setting the correct build configuration, the rest are standard VS procedures... if you don't know how to do it, then you probably won't have any benefit from compiling DWSIM from the source.

For all debugging purposes, choose the **DebugNoNPM / x64** solution configuration and set DWSIM.exe as the starting project.

First step:

<img width="582" alt="Captura de Tel

[2022-07-22 15:13] kugelpunk commented on #353
An EXE is what is being (optionally) run after a build. (You can use the start button for it.) MS is not very good on docs but I trust O'Reilly in this case, which clarifies the meaning of the `startup project` as being the entry point (c like `main` file):\
https://www.oreilly.com/library/view/sams-teach-yourself/0672322870/0672322870_ch06lev1sec6.html

[2022-07-22 15:15] DanWBR commented on #353
@kugelpunk ok then, set "DWSIM" as the startup project. That thing named "DWSIM" on the list of projects.

[2022-07-24 10:08] kugelpunk commented on #353
@hdavid16 in my case, it all depends on the `DWSIM.Thermodynamics.dll` being build. This, in turn requires the `<path_to_repo>\DWSIM.Thermodynamics\Assets\Databases\FoodProp\FoodProp.xml` to be present. I copied it from the clone of the original into my fork. (It does not get there via `git pull`.)

[2022-07-26 12:02] #356 closed, assigned to nobody

[2022-07-26 12:03] #352 closed, assigned to nobody

[2022-07-26 12:04] DanWBR commented on #353
@kugelpunk is everything ok now, can we close this issue?

[2022-07-26 12:04] #351 closed, assigned to nobody

[2022-07-26 12:04] #349 closed, assigned to nobody

[2022-07-26 12:04] #346 closed, assigned to nobody

[2022-07-26 18:48] kugelpunk commented on #353
Hi @DanWBR , it would be great if the git submodule could be checked out inside the project, so that it can be forked. I will test if this works in github now. However, that is more relevant for forks and pull requests. Users that clone recursively will get the submodule checked out. But if you like to have the actual submodule files inside your repo, we could keep this open and try to make things

[2022-07-26 18:58] DanWBR commented on #353
@kugelpunk I'll try to include the file directly 👍🏻

[2022-07-26 19:12] #353 closed, assigned to nobody

[2022-07-26 19:12] #354 closed, assigned to nobody

[2022-07-28 15:02] janboshoff75 opened #358 "[Enhancement] Sort object list alphabetically"
When developing large simulations with DWSIM, it becomes increasingly difficult to navigate the UI since drop-down menus of streams and other objects are sorted by some internal numerical order.

It would be great if the list is always sorted alphabetically by Object name, that way, when renaming an object, it is easy to find when using the dropdown.

Seems like an easy fix, that will vastly impro

[2022-07-28 19:52] DanWBR commented on #358
@janboshoff75 it is indeed an easy fix but can take some time due to the high number of dropdowns. 😅

it will be done for the next release. thanks for the suggestion 👍🏻

[2022-08-04 18:30] #358 closed, assigned to nobody

[2022-08-04 18:30] #328 closed, assigned to nobody

[2022-08-04 18:31] DanWBR commented on #317
@smkanadl yes, the $25 tier gives you access to DWSIMCore repository.

[2022-08-08 19:22] renzhuo opened #359 "[Bug] Latent heat not fully transferred in heat exchanger"
**Describe the bug**
For heat exchangers, when one stream goes from 100% liquid at the inlet to 100% vapor with at the outlet, not all latent heat is exchanged.

**To Reproduce**
Steps to reproduce the behavior:
1. I created two heat identical heat exchangers with 100% helium-4 in stream 1 and 100% nitrogen in stream 2.
2. Stream 1 inlet is at 90 K and 1.5E6 Pa (15 bara).
3. Stream 2 inlet is at 1

[2022-08-09 16:17] DanWBR commented on #359
@renzhuo can you attach the flowsheet file?

[2022-08-09 17:23] renzhuo commented on #359
Here we go
[Liquid_Nitrogen_Subcooler.zip](https://github.com/DanWBR/dwsim/files/9293226/Liquid_Nitrogen_Subcooler.zip)

[2022-08-13 15:10] DanWBR commented on #359
@renzhuo CoolProp calculations near saturation points are interpolated to some extent. The library is very unstable when extrapolating properties (T, P) outside the allowed ranges, so I had to do something about it.

[2022-08-13 15:14] DanWBR commented on #359
@renzhuo this is the procedure to calculate enthalpy of a stream's phase using CoolProp: https://github.com/DanWBR/dwsim/blob/windows/DWSIM.Thermodynamics/PropertyPackages/CoolProp.vb#L1295

[2022-08-16 18:57] cbkiyanda opened #360 "[Bug]"
Simulating a simple, 4-component, rankine cycle using water and coolprop, there is a thermodynamic state inconsistency in the output of the turbine. The turbine output state has the correct entropy, pressure, and temperature, however, the vapour fraction and enthalpy are not consistent. In my example, DWSIM returns the output of the turbine state as:
T = 45.8063 C
P = 10 kPa
s = 6.64826 kJ/kg.K
Va

[2022-08-16 19:24] DanWBR commented on #360
@cbkiyanda this seems to have been fixed in https://github.com/DanWBR/dwsim/commit/3ccb050f1bfafd017eb9b4ac76d3e5fe126a8d2e (post v8.0.4)

<img width="803" alt="Captura de Tela 2022-08-16 às 15 21 54" src="https://user-images.githubusercontent.com/2669419/184964486-449fa41a-f2f6-490e-9f7f-5d7a774434c9.png">

[2022-08-16 20:49] cbkiyanda commented on #360
Do you have an idea when a release will include https://github.com/DanWBR/dwsim/commit/3ccb050f1bfafd017eb9b4ac76d3e5fe126a8d2e ? (We plan to use dwsim for class, so just need to devise a plan for distributing a usable version to students.)

[2022-08-16 20:52] DanWBR commented on #360
@cbkiyanda very soon! in the meantime, you could try Steam Tables for this specific case.

[2022-08-17 15:43] cbkiyanda commented on #360
Thank you very much!

[2022-08-17 15:43] #360 closed, assigned to nobody

[2022-08-18 13:28] einhander commented on #259
@DanWBR please reopen this issue, the problem is not solved in dwsim 8.0.4

[2022-08-18 13:37] DanWBR commented on #259
@einhander please attach the errors.log file from your Documents/DWSIM Application Data folder

[2022-08-18 13:45] einhander commented on #259
Here the last line from terminal:
[code]
I attached log file, but it doesn't contain last line visible in terminal.
[errors.log](https://github.com/DanWBR/dwsim/files/9374294/errors.log)

Also the root of problem described in #222

[2022-08-18 13:52] DanWBR commented on #259
@einhander this is not the cause of the crash...

try running DWSIM with

`MONO_LOG_LEVEL=debug dwsim`

and you should see the root exception that led to the crash on the terminal.

[2022-08-18 13:58] einhander commented on #259
Here:
[1.txt](https://github.com/DanWBR/dwsim/files/9374452/1.txt)

[2022-08-18 14:05] DanWBR commented on #259
Seems to be something related to GTK, as I suspected:

`Mono: DllImport searching in: 'libgtk-x11-2.0.so.0' ('libgtk-x11-2.0.so.0').
Mono: Searching for 'gtk_text_view_set_editable'.
Mono: Probing 'gtk_text_view_set_editable'.
Mono: Found as 'gtk_text_view_set_editable'.
Mono: AOT: FOUND method System.Exception:ToString () [0x7f5dae732150 - 0x7f5dae732184 0x7f5dae9f8d3b]
`

Please try it again wit

[2022-08-18 14:07] einhander commented on #259
Here
[2.txt](https://github.com/DanWBR/dwsim/files/9374539/2.txt)

[2022-08-18 14:10] DanWBR commented on #259
@einhander thanks. Nothing new on 2.txt. Will try it myself

[2022-08-18 21:37] DanWBR commented on #259
I've narrowed down the issue to a bug in GTK's SpinButton control, which is not working with XWayland, the compatibility layer for displaying GDK/X11 applications on newer Ubuntu versions. On Ubuntu 16, it uses X11 directly and doesn't crash.

I've replaced all SpinButtons with normal Textboxes, and DWSIM is working OK (so far) on Ubuntu 22.

[2022-08-19 05:45] einhander commented on #259
I use x11 with awesome wm, so it's not xwayland issue.

Great, is test deb available?

[2022-08-19 17:58] cbkiyanda opened #362 "[Bug] mixer not respecting 1st law"
**Describe the bug**
Solving a standard Rankine cycle with a single open feedwater heater (extracting steam between two turbines and reinjecting between two pumps through a mixer), I am using an adjust/controller block to find the extracted fraction required to make the output of the mixer a saturated liquid. The optimization ends up sending all the hot fluid to the mixer. The end result of the mi

[2022-08-19 18:08] cbkiyanda commented on #362
A different example works. The only thermo difference between the two is the cooler pressure (10 kPa here, instead of 50 kPa in the case of the optimized system). This is extra puzzling to me as the optimized example I posted above was built on top of this example here, so I wouldn't be expecting any difference in behaviour between the two cases.

[ofwh_example.zip](https://github.com/DanWBR/dwsim

[2022-08-19 18:17] cbkiyanda commented on #362
The second (non-optimized) example works when the mixer is at 1 MPa and the cooler at 10 kPa. When the pressure in the mixer is reduced to 200 kPa and the cooler is at 50 kPa, the 1st law seems to no longer be satisfied. The specified enthalpy of stream 30 would be expected to be 819.64 kJ/kg
[ofwh_example_200kPa.zip](https://github.com/DanWBR/dwsim/files/9
![Screenshot from 2022-08-19 14-13-49](h

[2022-08-19 18:51] DanWBR commented on #362
@cbkiyanda I believe that the issue lies in setting up the optimization process. it seems that the objective function is not continuous as there are sudden enthalpy changes in the mixer inlet depending on how the controller plays with the split ratios.

[2022-08-19 18:53] DanWBR commented on #362
@cbkiyanda try changing the Flash Spec of Stream 7 to Pressure and Enthalpy.

[2022-08-19 19:35] cbkiyanda commented on #362
Interesting.
First, apologies for the multiple comments in a row. It was indeed not a problem with the setup of the optimization (at least not the adjust block optimization part) since the problem was also present when the split ratios were fixed. Changing stream 7 to P-H solved this particular problem.
Maybe there should be a final check at the end of flowsheet calculation to see if the 1st law i

[2022-08-19 19:56] cbkiyanda commented on #362
Using my ofwh_example_200kPa example, it seems all flash spec settings work aside from T-P, which fails every time.
I optimized the cycle so the output of 15 (stream 18) is a saturated vapour by varying the heater outlet temperature (the intermediate pressure was changed from 200 kPa to 1 MPa in this example). The boundary is at T_heater = 383.099 C. If you set flash spec of stream 7 to T-P, then

[2022-08-19 22:14] DanWBR commented on #362
A T/P spec shouldn't be used in the outlet of the recycle block if the simulation has a single compound. It wasn't your fault, though. I should have added some checks, and will investigate why the mixer didn't warn about the energy balance not being fulfilled.

[2022-08-20 12:57] DanWBR commented on #362
that's exactly the issue.

[2022-08-22 20:00] DanWBR commented on #259
@einhander v8.1.0 contains the fix and is now available for download 👍🏻

[2022-08-22 20:00] DanWBR commented on #359
@renzhuo v8.1.0 contains the fix and is now available for download 👍🏻

[2022-08-22 20:00] DanWBR commented on #362
@cbkiyanda v8.1.0 contains the fix and is now available for download 👍🏻

[2022-08-22 20:00] #347 closed, assigned to nobody

[2022-08-22 20:04] renzhuo commented on #359
Sorry I forgot to check your fixes, quite busy recently. I will take a look and let you know. Thanks!

[2022-08-22 20:18] renzhuo commented on #359
I think it works correctly now. There is a small error probably comparing to using CoolProp directly. That probably comes from linear extrapolation so it I will go ahead and close the issue.

[2022-08-22 20:18] #359 closed, assigned to nobody

[2022-08-22 20:21] DanWBR commented on #360
@cbkiyanda I've switched to a rational interpolation over a very small range, but there will always be some error, unfortunately.

https://github.com/DanWBR/dwsim/blob/0002ac692750ef6a10b8e3c02fe868062d8a7c8f/DWSIM.Thermodynamics/PropertyPackages/CoolProp.vb#L1370-L1387

[2022-08-23 09:58] einhander commented on #259
@DanWBR thank you! Now I can use dwsim again! This issue can be closed.

[2022-09-10 21:25] ryn376 opened #363 "[Bug] Heat Exchanger"
Items 1-4 are for Calculation Type  - Shell and Tubes Exchanger Rating
Item 5 is for Calculation Type  - Calculate Hot/Cold Fluid Outlet Temp

1. q_reported is 914498 btu/hr
q_calc calculated from q=U*A*F*LMTD = 1.8e6 btu/hr
calculation for outlet streams are based on the reported q

2. right clicking on HX and copying properties gives Cold Side/Hot Side/Minimum Pressure of 101325 psi. I should be

[2022-09-11 07:54] DanWBR commented on #363
@ryn376:

2 - minimum pressures are used on dynamic simulations only
5 - to calculate hot fluid's Tout you must provide cold fluid's Tout.

could you please attach a sample file so I can use it to check the other issues?

[2022-09-11 07:54] #362 closed, assigned to nobody

[2022-09-11 07:54] #259 closed, assigned to nobody

[2022-09-11 18:18] ryn376 commented on #363
I really appreciate your response! Lol thanks about #5 that was silly... My mind was fried after working all day. Regarding #2, the two hot and cold pressures still seemed to show incorrectly. I tried to attach the file, but GitHub indicated it is not the appropriate file type. What is the best way to send the file?

[2022-09-11 18:28] DanWBR commented on #363
@ryn376 you can try zipping the file before uploading it

[2022-09-11 18:52] ryn376 commented on #363
[Ben.zip](https://github.com/DanWBR/dwsim/files/9543313/Ben.zip)
Excellent! Thanks so much!

[2022-09-13 17:09] einhander opened #364 "[Bug] Linux: Exception error in compound creator in dwsim-classic"
**Describe the bug**

 Exception error in compound creator in dwsim-classic

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Create new compound

**Desktop (please complete the following information):**
 - OS: Linux Debian 12 (testing)
 - Version 8.1.0

**Additional context**
Error text:
[code]

[2022-09-15 01:43] cbkiyanda opened #366 "[Bug] Two specification blocks in the same flowsheet, only the last one is updated"
**Describe the bug**
I implemented an ideal rankine cycle with an open feedwater heater. To match the pressures in the feedwater heater, the 1st stage turbine and 1st stage pump need to have the same pressure. In order to reduce the number of manipulations required to change the feedwater pressure, I created a reference state (here material stream 30) to compute a saturated liquid state at the tar

[2022-09-15 13:18] DanWBR commented on #366
@cbkiyanda the specification block is a hack. It doesn't obey the normal flowsheet calculation order. Each spec block is triggered when the source object is calculated, and it will work or not depending if the target object is still to be calculated according to the calculation order.

I wouldn't say that this is a bug, but it is by design. You can either rework your flowsheet to make sure that th

[2022-09-15 16:36] cbkiyanda commented on #366
Is there a rule to know in which order blocks will be calculated? I've not found where to learn this so far.

[2022-09-15 17:42] DanWBR commented on #366
@cbkiyanda the calculation order is determined automatically by the solver.

I've replaced the specs with two python scripts that are executed right before the turbine and pump are calculated. check the attached file.

[spec_blocks_full_pyscripts.dwxmz.zip](https://github.com/DanWBR/dwsim/files/9577747/spec_blocks_full_pyscripts.dwxmz.zip)

[2022-09-15 18:18] cbkiyanda commented on #366
Thank you very much for the example. That was quite useful to learn how to use python scripts.

[2022-09-15 18:18] #366 closed, assigned to nobody

[2022-09-28 16:42] andreyotw opened #369 "[Bug] distillation column result plots size wrong"
Version 8.1.1 classic UI 64 bit Windows

after a successful simulation, when clicking on results and "View Temperature, Pressure and Composition Profiles" the resulting XY Plot sizing is wrong (very small) (_vide_ attached file)
![dwsim-distcolumn-bug](https://user-images.githubusercontent.com/114605400/192839955-4ad2fcf4-174f-4922-b646-528afcfed2c1.png)

[2022-09-28 19:56] DanWBR commented on #369
@andreyotw I also noticed this bug some days ago. It was fixed in https://github.com/DanWBR/dwsim/commit/df6407d6ef09bb5721ea9c2a3b71831dc8acf3f3

[2022-09-28 20:02] DanWBR commented on #363
@ryn376 as for 4, the outlet temperatures displayed on the HX table are your inputs. I can't update them with the actual temperatures because you can loose your input, if you switch the calculation mode back to one of the "Calculate Outlet Temperature" types.

[2022-09-29 11:44] andreyotw commented on #369
Thanks a lot, Daniel! Look forward to the new release! Grande abraço!

[2022-09-29 12:35] ryn376 commented on #363
Thanks for looking into this. I downloaded the newest version this morning. I am still obtaining error 1, 2, 3, 4.
![image](https://user-images.githubusercontent.com/113264736/193032291-e7bfe102-3ec6-4d57-97c3-b4afb81239ba.png)
Regarding error 4, I don't see where the outlet temperatures would be coming from if they are not coming from the exchanger duty and matching the exchanger outlet temps.
[B

[2022-09-29 12:44] DanWBR commented on #363
@ryn376 I told you before that minimum pressures are properties used only in dynamic mode. (2)

1 and 4 were fixed in code yesterday. you'll have to wait for the next binary release.

and 3 is happening because your HX is at 100% efficiency, due to a higher-than-required cooling water flow rate.

[2022-10-05 19:15] #369 closed, assigned to nobody

[2022-10-05 19:17] #181 closed, assigned to nobody

[2022-10-05 19:17] DanWBR commented on #48
implemented in v8.2.0

[2022-10-05 19:17] #48 closed, assigned to nobody

[2022-10-05 19:20] DanWBR commented on #363
fixed in v8.2.0

[2022-10-05 19:20] #363 closed, assigned to nobody

[2022-10-22 14:31] DanWBR commented on #80
@AdrianDietz I don't have the resources to work on the translation to French. For now I'll close this issue, we can reopen it in the future is something comes up.

[2022-10-22 14:31] #80 closed, assigned to nobody

[2022-10-22 14:32] #119 closed, assigned to nobody

[2022-10-27 14:38] #49 closed, assigned to nobody

[2022-10-27 14:38] #59 closed, assigned to nobody

[2022-10-27 14:38] #67 closed, assigned to nobody

[2022-10-27 14:38] #167 closed, assigned to nobody

[2022-10-27 14:38] #168 closed, assigned to nobody

[2022-10-27 14:38] #237 closed, assigned to nobody

[2022-10-27 14:39] #195 closed, assigned to nobody

[2022-10-27 14:39] #317 closed, assigned to nobody

[2022-10-27 14:42] DanWBR commented on #148
closing as I won't work on this. If anyone comes with a working solution, feel free to reopen the issue.

[2022-10-27 14:42] #148 closed, assigned to nobody

[2022-10-27 14:42] #333 closed, assigned to nobody

[2022-10-27 14:49] #364 closed, assigned to nobody

[2022-10-27 19:12] #238 closed, assigned to nobody

[2022-10-27 23:12] AlexanderSemenyak commented on #238
Thank's :)

[2022-10-30 00:07] AlexanderSemenyak opened #370 "Dynamic manager - Monitored Variables - Error - Input string was not in a correct format [Bug]"
Dynamic manager - Monitored Variables - Error - Input string was not in a correct format

**Steps to reproduce the behavior:**
1. Open flowsheet test.dwxmz form attach
2. Run Shedule in Integrator controls
3. See error in Information window

**Expected behavior**
Fill spreadsheet with dynamic values without errors

**Screenshots**

**Desktop:**
 - OS: Windows 11
 - Version v 8.2.1

**Additional co

[2022-10-30 16:29] DanWBR commented on #370
@AlexanderSemenyak it worked for me with comma and dot as decimal separators... can you paste the full exception info?

[2022-10-31 08:51] AlexanderSemenyak commented on #370
Input string was not in a correct format.

System.FormatException: Input string was not in a correct format.
   at System.Windows.Forms.Control.MarshaledInvoke(Control caller, Delegate method, Object[] args, Boolean synchronous)
   at System.Windows.Forms.Control.Invoke(Delegate method, Object[] args)
   at DWSIM.FormDynamicsIntegratorControl._Closure$__82-0._Lambda$__1() in C:\Users\Daniel\source

[2022-10-31 12:00] DanWBR commented on #370
@AlexanderSemenyak it is actually on line 319:

https://github.com/DanWBR/dwsim/blob/416262cff8a704e903c011cadd456bb8abb1ca67/DWSIM/Forms/FlowsheetComponents/FormDynamicsIntegratorControl.vb#L318-L320

I didn't expect an error on this line, even if it is a conversion from double to int.

[2022-10-31 13:17] AlexanderSemenyak commented on #370
On line 600 error - string to double without culture invariant (type casting error)

[2022-10-31 13:26] DanWBR commented on #370
@AlexanderSemenyak this should suffice

https://github.com/DanWBR/dwsim/blob/e0ae1c3bdafc1420d792db110b8535ab113630e8/DWSIM/Forms/FlowsheetComponents/FormDynamicsIntegratorControl.vb#L601-L612

[2022-10-31 21:33] AlexanderSemenyak commented on #370
If Not Double.TryParse(var.PropertyValue, NumberStyles.Any, System.Globalization.CultureInfo.InvariantCulture, y) Then
                y = Double.NaN
            End If

[2022-10-31 22:12] DanWBR commented on #370
The parsing will be successful regardless of the separator if it is a double

[2022-11-02 00:18] AlexanderSemenyak commented on #370
If Double.TryParse(var.PropertyValue, New Double) - use current culture for parsing double from string var.PropertyValue

But [var.PropertyValue] is string and store value in Invariant Culture (always dot separator)
In some UI Cultures (with coma decimal separators) =>  Double.TryParse (without param InvariantCulture) not parse value  var.PropertyValue

[2022-11-02 15:45] einhander opened #371 "[Bug] Gibbs reactor Element Matrix unusable in cross-platform UI"
**Describe the bug**
Gibbs reactor Element Matrix unusable in cross-platform UI
There is no button to add or remove element. No way to change element name in UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Gibbs Reactor'
2. Click on 'Setup Element Matrix'

**Expected behavior**
Buttons to add/remove Elements like in classic UI.

**Screenshots**
Cross-platform UI:
![elementmatrix](

[2022-11-03 03:31] FilipeAC opened #372 "UNIFAC Qk parameter for CH3CO subgroup"
**Description**
The Qk parameter for CH3CO subgroup of the original UNIFAC method seems to be a little different from the published parameter at http://www.ddbst.com/published-parameters-unifac.html. DWSIM Qk value is 1.448 and DDB Qk value is 1.488, which gives different results for activity coefficients for some mixtures containing this subgroup. Rk value is the same from DDB. I'm not sure if th

[2022-11-03 11:38] DanWBR commented on #372
@FilipeAC I guess it was a typo. The UNIFAC file was taken from ChemSep unchanged.

[2022-11-03 13:16] FilipeAC commented on #372
Thanks for the quick reply! ChemSep v8.32 UNIFAC file now uses Qk = 1,488. Guess they found the typo. Is there a way to manually change this value on DWSIM?

[2022-11-03 13:23] DanWBR commented on #372
it is already fixed: https://github.com/DanWBR/dwsim/commit/1b9c4859b3b5f282b81ff173299c8e7503d9c167

[2022-11-03 14:09] DanWBR commented on #371
<img width="690" alt="Captura de Tela 2022-11-03 às 10 07 35" src="https://user-images.githubusercontent.com/2669419/199742783-90dbed24-fe68-4a07-be1d-7672e53d6e82.png">

[2022-11-03 14:34] einhander commented on #371
Thank you! I'll close the issue.

[2022-11-03 14:37] #372 closed, assigned to nobody

[2022-11-03 14:38] #370 closed, assigned to nobody

[2022-11-04 04:06] AlexanderSemenyak commented on #370
thank's

[2022-11-06 19:34] einhander commented on #371
Hello again! There no compounds in element matrix, see screenshot:
![1](https://user-images.githubusercontent.com/5439042/200190967-33f9ab13-05f4-40b9-8359-758854c3816a.png)

There no way to add compounds to element matrix.
If I click Reset button an error displays:
[code]

[2022-11-08 14:14] DanWBR commented on #371
@einhander could you please attach your flowsheet?

[2022-11-08 14:24] einhander commented on #371
Reacting Compounds unchecked. Put check mark on them to see the problem.
[WaterGas.dwxmz.txt](https://github.com/DanWBR/dwsim/files/9962003/WaterGas.dwxmz.txt)

[2022-11-10 14:20] HMG69 opened #374 "[Bug]"
The calculation of the thermal effect of a chemical reaction of the type NH3+HNO3=NH4NO3 taking place in an aqueous solution does not take into account the thermal effect (with heat consumption) of the release of HNO3 from the solution and the thermal effect of dissolution of the resulting NH4NO3 in an aqueous solution (with heat consumption). This conclusion is based on a comparison of the calcul

[2022-11-10 14:27] DanWBR commented on #374
DWSIM doesn't have an appropriate model for this specific situation, sorry.

[2022-11-10 14:27] #374 closed, assigned to nobody

[2022-11-10 14:30] HMG69 commented on #374
This is a fairly simple model that is based on the properties of solutions.

[2022-11-10 14:33] DanWBR commented on #374
It isn't simple from a process simulator perspective, trust me.

[2022-11-10 14:34] HMG69 commented on #374
Возможно над этим вопросом стоит подумать в будущем. Тогда DWSIM будет идеальным инструментом.

[2022-11-11 23:19] andr1976 opened #375 "[Enhancement] Phase envelope"
**Is your feature request related to a problem? Please describe.**
In phaseenvelope utility operating points are plotted underneath the dew/bubl points
thus if operating point is either 0 or 1 in vapour fraction the operating point is hidden by the dew/bubl curves

**Describe the solution you'd like**
Plot operating points on top of bubl/dew point curves
![image](https://user-images.githubusercont

[2022-11-12 11:02] einhander commented on #371
On 8.3.1 reset button adds compounds columns, but I still have to press it once, then columns appears.
![1](https://user-images.githubusercontent.com/5439042/201470842-0d6b4d0f-c007-4b17-97e0-c059181deee0.png)
![2](https://user-images.githubusercontent.com/5439042/201470898-85b85a08-6b99-4058-91e8-4b21e1df28d0.png)
Also log says that element matrix was rebuilt/reset then I check mark any compound,

[2022-11-12 12:07] einhander opened #376 "[Enhancement] Desktop files for Linux"
Linux use `*.desktop` files to launch applications. Here the content of such file for dwsim and dwsim-classic:

Dwsim.desktop
[code]
Dwsim-classic.desktop
[code]

Desktop files should be placed under `/usr/share/applications/` directory.
Appropriate icons should be placed under `/usr/share/pixmaps/` directory.

[2022-11-12 12:10] DanWBR commented on #376
@einhander does this work on all debian-based distros?

[2022-11-12 12:19] einhander commented on #376
Yes. More over it should work on 95% linux.

[2022-11-12 12:26] einhander commented on #376
The desktop files that I provided it's only a brief version with necessary lines. Little more info about desktop files present in arch wiki https://wiki.archlinux.org/title/desktop_entries and xdg specs https://specifications.freedesktop.org/desktop-entry-spec/desktop-entry-spec-latest.html

[2022-11-12 13:46] DanWBR commented on #375
![pe](https://user-images.githubusercontent.com/2669419/201477049-35b4d190-23af-40bd-bdfd-1405ff976772.png)

[2022-11-12 16:49] andr1976 commented on #375
I like the lines without points also, looks more publication ready

[2022-11-12 21:04] einhander opened #377 "[Bug Linux classic UI] Simulation settings exception"
**Describe the bug**
The simulation settings in classic UI raises exception error on any loaded flowsheet.

**To Reproduce**
Steps to reproduce the behavior:
1. Create flow-sheet. Save it.
2. Load saved flowsheet
3. Open simulation settings
4. See error

[code]

**Desktop (please complete the following information):**
 - OS: Debian testing
 - Version v8.3.1

[test.dwxmz.txt](https://github.com/Dan

[2022-11-13 16:10] andr1976 opened #381 "[Enhancement] Electrolyzer"
**Is your feature request related to a problem? Please describe.**
Error messages in electrolyser unit op, a little misleading

**Describe the solution you'd like**
If CellVoltage < spO2 Then Throw New Exception("Not enough power") I suggest changing to

If CellVoltage < spO2 Then Throw New Exception("Total voltage too low") becuase the present error message might lead to the user trying to increa

[2022-11-13 16:48] andr1976 opened #382 "[Bug] Electrolyzer energy balance"
**Describe the bug**
The energy balance for the electrolyzer unit op is wrong in my opinion. It produces too high temperature increase when cell potential > 1.23, since heat required for the water splitting is not accounted for.
I am no expert so my below ramblings may sound a bit unclear, but check the refs., especially the first one.

**Expected behavior**
The cell potential for splitting water

[2022-11-14 12:49] #375 closed, assigned to nobody

[2022-11-14 18:38] DanWBR commented on #375
@andr1976 spend some hours today trying to complete the envelope... also PV flash now has an extrapolation method for failed calculations that works quite well:  https://github.com/DanWBR/dwsim/commit/bbdd7a9da6194d89663779036ccb6e673f77f22c

<img width="1860" alt="Captura de Tela 2022-11-14 às 14 02 33" src="https://user-images.githubusercontent.com/2669419/201739583-4146113a-9af9-40e7-97d3-47bb

[2022-11-14 18:44] andr1976 commented on #375
Very Nice

[2022-11-14 20:49] DanWBR commented on #377
@einhander it worked here 😐

[2022-11-14 20:54] DanWBR commented on #376
I've updated the debian installer with the shortcuts.

<img width="1026" alt="Captura de Tela 2022-11-14 às 16 52 40" src="https://user-images.githubusercontent.com/2669419/201763485-0f16604f-8e7a-4355-8e00-10506cc1a1c9.png">

[2022-11-14 20:59] einhander commented on #376
Great!

[2022-11-14 20:59] #376 closed, assigned to nobody

[2022-11-14 21:05] einhander commented on #377
Here the debug output:
[code]

[2022-11-18 00:18] Hyguys opened #383 "[Enhancement] Permanent change of calculation order not working as intended"
**Describe the bug**
The other day Daniel told me we could permanently change the calculation order of the flowsheet by holding Ctrl + Alt + Clicking on the Solve Flowsheet Button. However, it only changes the calculation order for this click: When solving the Flowsheet automatically (say, via the Sensitivity Analysis Tool) the calculation goes back to the proposed by DWSIM (as seen by the solutio

[2022-11-20 23:54] #382 closed, assigned to nobody

[2022-11-20 23:55] #381 closed, assigned to nobody

[2022-11-25 16:04] Doni-90 opened #389 "[Bug] Compound creator error"
**Describe the bug**
Trying to create a new compound via "new compound creator study": 4-Cl-benzotrifluoride (CAS: 98-56-6). Using UNIFAC groups the molecular weight, formula and calculated data are wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'new compound creator study'
2. Compile name and CAS
3. Click on 'Molecular structure'
4. UNIFAC tab
5. Select ID10x4 + ID11x1 + ID54x

[2022-11-30 22:08] andr1976 opened #392 "[Bug] Seawater splitter with zero split stream gives NaN values"
**Describe the bug**
IAPWS-08 - When a stream splitter is applied with a split of 1 & 0, the material stream with zero flow gives NaN for specific enthalpy and entropy.  Thus the stream does not work with other unit ops

It also tends to give a very small amounts of ice at temperatures and pressures where no ice is expected.

**To Reproduce**
![image](https://user-images.githubusercontent.com/5847